<template name="contentGroupForm">
  <!-- TODO: delete style -->

  <br>
  <div class="panel panel-grey margin-bottom-40">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <form class="sky-form content-group-form" role="form">
        <header>Content-group
          <i type="button" class="glyphicon glyphicon-remove" id="button-close-contentGroup-form"></i>
        </header>

        <fieldset>
          <div class="row">
            <section class="col col-6">
              <label class="label">Name</label>
              <label class="input">
                <input type="text" name="nameOfContentGroup" id="nameOfContentGroup"
                placeholder="Enter name of content-group" value="{{this.name}}">
              </label>
            </section>
            <section class="col col-6">
              <label class="label">Duration</label>
              <label class="input">
                <input type="text" name="durationOfContentGroup" id="durationOfContentGroup"
                placeholder="Enter duration of content-group" value="{{this.duration}}">
              </label>
            </section>
          </div>
          <div class="row">
            <section class="col col-3">
              <label class="label">Colour</label>
              <label class="input">

                <div id="colorpicker" class="input-group">
                  <input type="text" value="{{getColour}}" class="form-control">
                  <span class="input-group-addon"><i style="background-color: {{getColour}};"></i></span>
              </div>
              </label>
            </section>

            <section class="col col-3">
              <canvas width="125" height="97" id="canvas_picker" style="visibility: {{showColourPicker}}"></canvas>
            </section>
            <section class="col col-3 offset-3">
              <label class="checkbox-inline"><input type="checkbox" {{isBlocked}} id="blocked">Blocked</label>
            </section>
            <section class="col col-3">
              <label class="checkbox-inline"><input type="checkbox" {{isDefault}} id="default">Default</label>
            </section>

          </div>
        </fieldset>

        <fieldset>
          <button type="submit" class="btn-u btn-u-default" id="btn-select-content" style="margin-left: 12px; margin-bottom: 10px;">Add content</button>
          <div id="content-collection-fieldset">
            <!-- {{#if isSelectContent}}
              {{> contentsList disableButtonNew=true disableButtonAddToCG=true enableButtonCloseListOfContents=true}}
            {{/if}} -->
            {{#if isSelectContent}}
              {{#with getOptions}}
              {{> contentsList}}
              {{/with}}
            {{/if}}
          </div>

          {{#if includedContents}}
            <div class="panel panel-grey margin-bottom-40">
              <div class="panel-heading">
                Included contents
              </div>
              <div class="panel-body">
                {{#HammerTouchArea gestureMap=includedContentsGestures}}
                <table class="table table-striped table-list" id="includedContents-table">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Name</th>
                      <th>Duration</th>
                      <th>Type</th>
                      <th>Created at</th>
                      <th>Region</th>
                      <th>Sortiment</th>
                      <th>Controls</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each includedContents}}
                      {{> content}}
                    {{/each}}
                  </tbody>
                </table>
                {{/HammerTouchArea}}
              </div>
            </div>
          {{/if}}
        </fieldset>

        <footer>
          <button type="submit" class="btn-u btn-u-default button-save" id="btn-save-contentGroup">Save</button>
        </footer>
      </form>
    </div>
  </div>

</template>
