<template name="contentGroupForm">
  <!-- TODO: delete style -->

  <!-- Modal -->
<div class="modal" id="myModal33" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Content Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Save change?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="btn-save-contentGroup" data-dismiss="modal" >Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->

  <!-- <div class="panel panel-grey margin-bottom-40"> -->

    <ul class="nav nav-tabs">
      <button type="button" class="btn-u btn-u-default sButton" id="closeContentForm1" data-toggle="modal" data-target="#myModal33" style="float:right;">Save</button>
      <button type="button" class="btn-u btn-u-default cButton" style="float:right;" id="button-close-contentGroup-form">Close</button>

    </ul><br>


    <div class="panel-body sky-form" style="padding:0px;">
      <form class="sky-form content-group-form" role="form">
        <!-- <header>Content-group
          <i type="button" class="glyphicon glyphicon-remove" id="button-close-contentGroup-form"></i>
        </header> -->

        <fieldset>
          <div class="row">
            <section class="col col-6">
              <label class="label">Name</label>
              <label class="input">
                <input type="text" name="nameOfContentGroup" id="nameOfContentGroup"
                placeholder="Enter name of content-group" value="{{this.name}}">
              </label>
            </section>
            <section class="col col-6">
              <label class="label">Duration</label>
              <label class="input">
                <input type="text" name="durationOfContentGroup" id="durationOfContentGroup"
                placeholder="Enter duration of content-group" value="{{this.duration}}">
              </label>
            </section>
          </div>
          <div class="row">
            <section class="col col-3">
              <label class="label">Colour</label>
              <label class="input">

                <div id="colorpicker" class="input-group">
                  <input type="text" value="{{getColour}}" class="form-control">
                  <span class="input-group-addon"><i style="background-color: {{getColour}};"></i></span>
              </div>
              </label>
            </section>

            <section class="col col-3">
              <canvas width="125" height="97" id="canvas_picker" style="visibility: {{showColourPicker}}"></canvas>
            </section>
            <section class="col col-3 offset-3">
              <label class="checkbox-inline"><input type="checkbox" {{isBlocked}} id="blocked">Blocked</label>
            </section>
            <section class="col col-3">
              <label class="checkbox-inline"><input type="checkbox" {{isDefault}} id="default">Default</label>
            </section>

          </div>
        </fieldset>

        <fieldset>
          <button type="submit" class="btn-u btn-u-default cButton" id="btn-select-content">Add content</button>

          <div id="content-collection-fieldset" >
            <fieldset>


            {{#if isSelectContent}}
              {{#with getOptions}}
              <button type="button" class="btn-u btn-u-default cButton" style="float:right; margin-top:10px;" id="button-close-contentList">Close list</button>
              {{> contentsList}}

                <!-- <button type="submit" class="btn-u btn-u-default button-save" id="btn-save-contentGroup">Save</button> -->

                <button type="button" class="btn-u btn-u-default cButton" style="float:right; margin-top:3px;" id="button-close-contentList">Close list</button>



              {{/with}}
            {{/if}}
            </fieldset>
          </div>

          {{#if includedContents}}
            <div class="panel panel-grey margin-bottom-40">
              <div class="panel-heading">
                Included contents
              </div>
              <div class="panel-body">
                {{#HammerTouchArea gestureMap=includedContentsGestures}}
                <table class="table table-striped table-list" id="includedContents-table">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Name</th>
                      <th>Duration</th>
                      <th>Type</th>
                      <th>Created at</th>
                      <th>Region</th>
                      <th>Sortiment</th>
                      <th>Controls</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each includedContents}}
                    {{> content}}
                    {{/each}}
                  </tbody>
                </table>
                {{/HammerTouchArea}}
              </div>
            </div>
          {{/if}}
        </fieldset>

        <fieldset>
          <!-- <button type="submit" class="btn-u btn-u-default button-save" id="btn-save-contentGroup">Save</button> -->
          <button type="button" class="btn-u btn-u-default sButton" id="closeContentForm1" data-toggle="modal" data-target="#myModal33" style="float:right; margin-bottom:20px">Save</button>
          <button type="button" class="btn-u btn-u-default cButton" style="float:right;" id="button-close-contentGroup-form">Close</button>

        </fieldset>
      </form>
    </div>
  <!-- </div> -->

</template>
