<template name ="contentGroup">

  <tr class="contentGroup-row">
  <td><input type="checkbox"></td>

    <td>{{name}}</td>
    <td>{{duration}}</td>
    <td>{{isBlocked}}</td>
    <td>
      <div class="row-controls">
        {{#if enableButtonEdit}}
          <i type="button" class="glyphicon glyphicon-pencil" id="button-edit-contentGroup"></i>
        {{/if}}
        {{#if enableButtonDelete}}
          <i type="button" class="glyphicon glyphicon-trash" id="button-delete-contentGroup"></i>
        {{/if}}
      </div>
    </td>
  </tr>
</template>
