<template name="header">

  <div class="header-fixed">
  	<div class="wrapper">
  		<!--=== Header v3 ===-->
  		<div class="header-v3 header-sticky">
  			<!-- Navbar -->
  			<div class="navbar navbar-default mega-menu" role="navigation">
  				<div class="container">
  					<!-- Brand and toggle get grouped for better mobile display -->

  					<div class="navbar-header">

  						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
  							<span class="sr-only">Toggle navigation</span>
  							<span class="fa fa-bars"></span>
  						</button>
              {{#with headerLogo}}
  						<a class="navbar-brand" href="index.html">
  							<img id="logo-header" src="{{logo}}" alt="Logo">
  						</a>{{/with}}

  					</div>

  					<!-- Collect the nav links, forms, and other content for toggling -->
  					<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
  						<div class="container">
  							<ul class="nav navbar-nav">
  								<li>
  									<a href="home" class="page-link">
  										Home
  									</a>
  								</li>
                  <li>
  									<a href="players"  class="page-link">
  										Players
  									</a>
  								</li>
                  <li class="dropdown">
  									<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
  										Manage Content
  									</a>
  									<ul class="dropdown-menu">
                      <li><a href="medien" class="page-link">Medien</a></li>
  										<li><a href="contents" class="page-link">Contents</a></li>
  										<li><a href="content-groups" class="page-link">Content-groupes</a></li>
                      <li><a href="playlists" class="page-link">Playlists</a></li>
  									</ul>
  								</li>
  								<li class="dropdown">
  									<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
  										Admin
  									</a>
  									<ul class="dropdown-menu">
  										<li><a href="admin_networks">Networks</a></li>
  										<li role="admin_role"><a href="admin_role">Roles</a></li>
  										<li><a href="page5">Users</a></li>
  										<li><a href="homeAdmin">Home</a></li>
  										<li><a href="admin_docs">Documentation/Notes</a></li>
  										<!-- <li class="dropdown-submenu" role="admin"><a href="javascript:void(0);">Home</a>
                            <ul class="dropdown-menu">
                              <li><a href="homeAdmin">News</a>
                              </li>
                              <li><a href="homeAdmin">Main Content</a>
                              </li>
                              <li><a href="homeAdmin">Footer</a>
                              </li>
                            </ul>
                      </li> -->
  									</ul>
  								</li>
                  {{#if showNetworkSelection}}
                    {{> networkSelection}}
                  {{/if}}
                  {{> logoutButton}}
  							</ul>
                <div id="currentUser">
                  Logged in as <strong>{{currentUser}}</strong> user&nbsp;
                </div>
                <div id="currentRole">
                  with <strong>{{currentRole}}</strong> role&nbsp;
                </div>
                <div id="currentNetwork">
                  in <strong>{{currentNetwork}}</strong> network.
                </div>
  						</div>


  					</div>

  				</div>

  			</div>


  		</div>
  	</div>
  </div>
</template>
