<template name="editNetworkItem">
  <ul class="nav nav-tabs">
      <button type="button" class="btn-u btn-u-default  button-save sButton" id="editSubmit" style="float:right;">Save</button>
      <button type="button" class="btn-u btn-u-default cButton" id="closeEditList" style="float:right;">Close</button>
    </ul><br>
    <div class="panel-body sky-form">
  <!-- <div class="tab-v1 content-form"> -->
      <!-- <div class="col-md-10 col-md-offset-1"> -->
          <form class="sky-form submitForm">
              <!-- <div class="panel-default"> -->

{{#with editNet}}
                  <fieldset>
                    <div class="row" style="border:none;">


                      <div class="form-group col-lg-6">
                    <label class="label">Net Name:</label>
                    <label class="input">
                        <input type="text" id="netNameNet" value="{{netName}}"></label><br>
                      <label class="label">Net Id:</label>
                      <label class="input">
                        <input type="text" name="" id="netIdNet" value="{{netId}}"></label><br>
                        <div class="input-group">
      <label class="input-group-btn">
        <span class="btn btn-u-default sButton" style="border-radius:0px;">
          Choose file
          <input id="logo1" type="file" style="display: none;" onchange="myFunction()" multiple>
        </span>
      </label>
      <input type="text" class="fileinput-filename"  id="demo" readonly value="">

    </div>

                      </div>


                      <div class="form-group col-lg-6">
                          <label class="label" style="margin-left:180px;">Network Logo:</label>
                            <img src="{{logo}}" alt="itpark_logo_motto.jpg" style="margin-left:180px;">
                        </div>
                          <script>
                        function myFunction() {
                            var x = document.getElementById("logo1").value;
                            document.getElementById("demo").value = x;
                        }
                        </script>





    </div>
  </fieldset>
<fieldset>
    <div class="row" style="border:none;">


                        <div class="form-group col-lg-3">
                            <label class="label">Privat Content</label>


                          {{#if privatContent}}
                          <label class="radio-inline"><input type="radio" id="privatContent" name="optradio1" checked>Yes</label>

                          <label class="radio-inline"><input type="radio" id="privatContent" name="optradio1" >No</label>
                          {{else}}
                          <label class="radio-inline"><input type="radio" id="privatContent" name="optradio1" >Yes</label>

                          <label class="radio-inline"><input type="radio" id="privatContent" name="optradio1" checked>No</label>
                          {{/if}}
                        </div>
                        <div class="form-group col-lg-3">
                            <label class="label">DMX-Light</label>

                          {{#if dmxLight}}
                          <label class="radio-inline"><input type="radio" id="dmxLight" name="optradio2" checked>Yes</label>
                          <label class="radio-inline"><input type="radio" id="dmxLight" name="optradio2">No</label>
                          {{else}}
                          <label class="radio-inline"><input type="radio" id="dmxLight" name="optradio2" >Yes</label>
                          <label class="radio-inline"><input type="radio" id="dmxLight" name="optradio2" checked>No</label>
                          {{/if}}
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="label">Log Updatetime</label>

                            <label class="input">
                            <input id="logUpdateTime" type="text" placeholder="Nr.of days" value="{{logUpdateTime}}">
                            </label>

                        </div>

                        </div>  </fieldset>
      <fieldset>
<div class="row" style="border:none;">


          <div class="form-group col-lg-6">
            <label class="label">Add new Sortiment</label>
          <label class="input">  <div class="input-group" >
            <input type="text" class="form-control"  value="" id="oneSortiment" placeholder="type new sortiment name">
            <span class="input-group-btn">
            <a href="#" class="btn btn-default btnGrp" type="button"  id="addNewSortiment">Add</a>
          </span></div> </label>

            <label class="label">Edit/Delete Sortiment</label>
           <div class="well" style="max-height: 150px;overflow: auto;">
                        {{#each sortiment}}

                    <label class="input">  <div class="input-group sortimentList"  >
                      <input type="text" class="form-control"  id="sortimentList" value="{{this}}" >
                      <span class="input-group-btn">
                      <button href="#" class="btn btn-default btnGrp" type="button" name="{{../_id}}" id="deleteOneSortiment">X</button>
                      </span>
                      </div></label>{{/each}}
    </div>
</div>

<div class="form-group col-lg-6">
  <label class="label">Add new Region</label>
  <label class="input"><div class="input-group"  >
  <input type="text" class="form-control"  value="" id="oneRegion" placeholder="type new region name">
  <span class="input-group-btn">
  <a href="#" class="btn btn-default btnGrp" type="button"  id="addNewRegion">Add</a>
</span></div></label>

  <label class="label">Edit/Delete Region</label>
 <div class="well" style="max-height: 150px;overflow: auto;">
              {{#each region}}

            <label class="input"><div class="input-group regionList"  >
            <input type="text" class="form-control" id="regionList" value="{{this}}" >
            <span class="input-group-btn">
            <button href="#" class="btn btn-default btnGrp" type="button" name="{{../_id}}" id="deleteOneRegion">X</button>
            </span>
            </div></label>{{/each}}
</div>
</div>




</div>  </fieldset>
  {{/with}}
                    <!-- </div> -->


                <!-- </div> -->
            </form>
        <!-- </div> -->
    </div><br>
    <button type="button" class="btn-u btn-u-default  button-save sButton" id="editSubmit" style="float:right;">Save</button>
    <button type="button" class="btn-u btn-u-default cButton" id="closeEditList" style="float:right;">Close</button>
    <br><br><br><br>



</template>
