<template name ="networksList">

  {{#if isEdit}}
    {{>editNetworkItem}}
  {{/if}}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">

          <h3>List of Networks</h3>
          <button type="button" class="btn btn-default" id="btn" style="float:right;">Create new Network</button>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-list">
            <thead>
              <tr>
                <th>Logo</th>
                <th>Name</th>
                <th>NetworkId</th>
                <th>Privat Content</th>
                <th>DMX Light</th>
                <th>Log update time</th>

              </tr>
            </thead>
            <tbody>
              {{#each networks}}
              <tr>
                <td><div class="thumbcontainer" style="width:200px; height:150px overflow: auto;">
                  <img src="{{data}}" alt="..." class="img-thumbnail" style="width:100%; height:auto;  display: block;"></div></td>

                <td>{{netName}}
                </td>
                <td>{{netId}}
                </td>
                <td>{{#if privatContent}}
                    <span class="glyphicon glyphicon-ok"></span>
                    {{else}}
                    <span class="glyphicon glyphicon-minus " ></span>
                    {{/if}}

                </td>
                <td>{{#if dmxLight}}
                    <span class="glyphicon glyphicon-ok"></span>
                    {{else}}
                    <span class="glyphicon glyphicon-minus"></span>
                    {{/if}}
                </td>
                <td>{{logUpdateTime}}  <button type="button" class="btn btn-default" id="editNList" style="float: right;">Edit</button>
                  <button type="button" class="btn btn-default" id="deleteNlist" style="float: right;">Delete</button>

                </td>
              </tr>





            	{{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
