<template name="registerNetwork">

  <ul class="nav nav-tabs">
    <button type="button" class="btn-u btn-u-default sButton" style="float:right;" id="saveNetwork">Save</button>
    <button type="button" class="btn-u btn-u-default cButton" id="closeCreateList" style="float:right;">Close</button>
  </ul><br>
  <div class="panel-body sky-form">

          <form class="sky-form register-form1">
                  <fieldset>
                    <div class="row" style="border:none">
                      <div class="form-group col-lg-6">
                      <label class="label">Net Name:</label>
                      <label class="input">
                        <input type="text"  class="form-control" id="netNameNet" value="" REQUIRED>
                      </label>
                    </div>
                      <div class="form-group col-lg-6">
                        <label class="label">Net Id:</label>
                        <label class="input">
                          <input type="text" name="" class="form-control" id="netIdNet" value="" REQUIRED>
                        </label>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="row" style="border:none;">
                      <div class="form-group col-lg-6">
                        <label class="label">Network Logo:</label>
                        <div class="input-group">
      <label class="input-group-btn">
        <span class="btn btn-u-default sButton" style="border-radius:0px;">
          Choose file
          <input id="logo" type="file" style="display: none;" onchange="myFunction1()" multiple>
        </span>
      </label>
      <input type="text" class="fileinput-filename"  id="demo" readonly value="">
    </div>
    <script>
                        function myFunction1() {
                            var x = document.getElementById("logo").value;
                            document.getElementById("demo").value = x;
                        }
                        </script>
                      </div>
                      <div class="form-group col-lg-6">
                        <label class="label">Home Image:</label>
                        <div class="input-group">
      <label class="input-group-btn">
        <span class="btn btn-u-default sButton" style="border-radius:0px;">
          Choose file
          <input id="homeImage" type="file" style="display: none;" onchange="myFunction2()" multiple>
        </span>
      </label>
      <input type="text" class="fileinput-filename"  id="demo1" readonly value="">
    </div>
    <script>
                        function myFunction2() {
                            var x = document.getElementById("homeImage").value;
                            document.getElementById("demo1").value = x;
                        }
                        </script>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="row" style="border:none;">
                    <div class="form-group col-lg-3">
                    <input type="checkbox" id="privatContent" name="optradio2">Privat Content&nbsp;&nbsp;&nbsp;<label for="privatContent"></label>
                        
                    </div>
                    <div class="form-group col-lg-3">
                      
                      <input type="checkbox" id="dmxLight" name="optradio2">DMX-Light&nbsp;&nbsp;&nbsp;<label for="dmxLight"></label>
                    </div>
                    <div class="form-group col-lg-6">
                      <label class="label">Log Updatetime</label>
                      <label class="input">
                      <input class="form-control" id="logUpdateTime" type="text" placeholder="Nr.of days" REQUIRED></label>
                    </div>
                    </div>
                  </fieldset>
                      <div>
                        </div>
            </form>
    </div><br>
    <button type="button" class="btn-u btn-u-default sButton" style="float:right;" id="saveNetwork">Save</button>
    <button type="button" class="btn-u btn-u-default cButton" id="closeCreateList" style="float:right;">Close</button>
    <br><br><br><br>
</template>
