<template name ="player">
  <article class="player">
    {{#if isEditMode}}
      {{#with this}}
        {{> playerForm}}
      {{/with}}
    {{else}}
      <strong>Name: </strong>{{name}} <strong>PlayerId: </strong>{{playerId}}
      <strong>Location: </strong>{{location}} <strong>Address: </strong>{{address}}
      <strong>Post Index: </strong>{{postIndex}} <strong>Town/City: </strong>{{townCity}}
      <strong>District: </strong>{{district}} <strong>Play Time: </strong>{{playTime}}
      <i type="button" class="glyphicon glyphicon-trash" id="button-delete-player"></i>
      <i type="button" class="glyphicon glyphicon-pencil" id="button-edit-player"></i>
    {{/if}}
  </article>
</template>
