<template name ="player">
  {{#if isEditMode}}
    {{#with this}}
      {{> playerForm}}
    {{/with}}
  {{else}}
    <tr>
      <td>{{name}}</td>
      <td>{{location}}</td>
      <td>{{playerId}}</td>
      <td>{{postIndex}}</td>
      <td>{{townCity}}</td>
      <td>Status</td>
      <td>Last update</td>
      <td>
        <div class="player-row-controls">
          {{#if mayEdit}}
            <i type="button" class="glyphicon glyphicon-pencil" id="button-edit-player"></i>
          {{/if}}
          <i type="button" class="glyphicon glyphicon-trash" id="button-delete-player"></i>
        </div>
      </td>
    </tr>
  {{/if}}
</template>
