<template name ="playersList">
  <div class="row">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <span>{{options.header}}</span>
          {{#if options.enableButtonNewPlayer}}
            <button type="button" class="btn btn-default button-new">New player</button>
          {{/if}}

          <input type="text" class="form-control filter-input"
          placeholder="Type text to filter by ID" id="player-filter-input">

          <!-- <div class="text-center"> -->

          <ul class="pagination pagination-sm" style="margin: 3px; margin-right: 10px; float: right;">
            {{#if showButton 0}}
            <li><a class="page-go-back" href="#">«</a></li>
            {{/if}}
            {{#if showButton 1}}
            <li class="{{isActive 1}}"><a class="page-number" href="#" data-page="{{getPageN 1}}">{{textForButton 1}}</a></li>
            {{/if}}
            {{#if showButton 2}}
            <li class="{{isActive 2}}"><a class="page-number" href="#" data-page="{{getPageN 2}}">{{textForButton 2}}</a></li>
            {{/if}}
            {{#if showButton 3}}
            <li class="{{isActive 3}}"><a class="page-number" href="#" data-page="{{getPageN 3}}">{{textForButton 3}}</a></li>
            {{/if}}
            {{#if showButton 4}}
            <li class="{{isActive 4}}"><a class="page-number" href="#" data-page="{{getPageN 4}}">{{textForButton 4}}</a></li>
            {{/if}}
            {{#if showButton 5}}
            <li class="{{isActive 5}}"><a class="page-number" href="#" data-page="{{getPageN 5}}">{{textForButton 5}}</a></li>
            {{/if}}
            {{#if showButton 6}}
            <li class="{{isActive 6}}"><a class="page-number" href="#" data-page="{{getPageN 6}}">{{textForButton 6}}</a></li>
            {{/if}}
            {{#if showButton 7}}
            <li class="{{isActive 7}}"><a class="page-number" href="#" data-page="{{getPageN 7}}">{{textForButton 7}}</a></li>
            {{/if}}
            {{#if showButton 8}}
            <li><a class="page-go-forward" href="#">»</a></li>
            {{/if}}
          </ul>

          <!-- <div class="row"> -->
            <!-- <div class="col-md-6"> -->

              <!-- TODO: -->
              <input type="text" class="form-control filter-input"
              id="player-per-page-input" value="{{showPerPage}}" style="width: 50px;">
              <span style="float: right; font-size: 55%; margin: 5px;">Players/page</span>
            <!-- </div> -->
          <!-- </div> -->

						<!-- </div> -->




        </div>
        <div class="panel-body">
          <table class="table table-striped table-list">
            <thead>
              <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Player-Id</th>
                <th>Post index</th>
                <th>Town/City</th>
                <th>Status</th>
                <th>Last update</th>
                <th>Controls</th>
              </tr>
            </thead>
            <tbody>
              {{#each players}}
                {{> player}}
            	{{/each}}
            </tbody>
          </table>
        </div>
      </div>
    <!-- </div> -->
  </div>
  {{>deleteConfirmation message=playerToDelete}}
</template>
