<template name ="playerForm">
    <div class="container content">
      <div class="tab-v1 player-form">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#player-main" data-toggle="tab" area-expanded="true">Player</a>
          </li>
          <li>
            <a href="#player-details" data-toggle="tab" area-expanded="false">Details</a>
          </li>
          <li>
            <a href="#playlist" data-toggle="tab" area-expanded="false">Playlist</a>
          </li>
          <button type="submit" class="btn-u btn-u-default button-save sButton" id="btn-save-content" style="float:right; ">Save</button>
          <button type="button" class="btn-u btn-u-default cButton" id="button-close-player-form" style="float:right;">Close</button>

        </ul><br>

        <div class="tab-content">
          <div class="tab-pane fade active in" id="player-main"><br>
            <form class="sky-form" action=# id="sky-form">

              <fieldset>
                <div class="row">
                  <section class="col col-4">
                    <label class="label">Name</label>
                    <label class="input">
                      <input type="text" name="nameOfPlayer" id="name"
                      placeholder="Enter name" value="{{this.name}}">
                    </label>
                  </section>
                  <section class="col col-4">
                    <label class="label">Player-ID</label>
                    <label class="input">
                      <input type="text" name="playerId" id="playerId"
                      placeholder="Enter player-Id" value="{{this.playerId}}">
                    </label>
                  </section>
                  <section class="col col-4">
                    <label class="label">Location</label>
                    <label class="input">
                      <input type="text" name="location" id="location"
                      placeholder="Enter location" value="{{this.location}}">
                    </label>
                  </section>
                  <section class="col col-4">
                    <label class="label">Address</label>
                    <label class="input">
                      <input type="text" name="address" id="address"
                      placeholder="Enter address" value="{{this.address}}">
                    </label>
                  </section>

                  <section class="col col-2">
                    <label class="label">Post Index</label>
                    <label class="input">
                      <input type="text" name="postIndex" id="postIndex"
                      placeholder="Enter post index" value="{{this.postIndex}}">
                    </label>
                  </section>
                  <section class="col col-3">
                    <label class="label">Town/City</label>
                    <label class="input">
                      <input type="text" name="townCity" id="townCity"
                      placeholder="Enter town/city" value="{{this.townCity}}">
                    </label>
                  </section>
                  <section class="col col-3">
                    <!-- <label class="label">District</label>
                    <label class="input">
                      <input type="text" name="district" id="district"
                      placeholder="Enter district" value="{{this.district}}">
                    </label> -->
                    <label class="label">District</label>
                    <label class="select">
    									<select id="district">
                        {{#if isDistrictChosen}}
                          <option value="{{district}}">{{district}}</option>
                        {{else}}
                        <option value="0">Choose district</option>
                        {{/if}}
                        {{#each getDistricts}}
                          <option value="{{this}}">{{this}}</option>
                        {{/each}}
    									</select>
    								</label>
                  </section>

                </div>
              </fieldset>
              <fieldset>
                <label class="label">Play time hours</label>
                <div class="row">

                  <section class="col col-1">
                    <label class="label">Monday</label>
                    <label class="input">
                      <input type="text" name="mondayStart1" id="mondayStart1"
                      placeholder="From" value="{{this.mondayStart1}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="label">Tuesday</label>
                    <label class="input">
                      <input type="text" name="tuesdayStart1" id="tuesdayStart1"
                      placeholder="From" value="{{this.tuesdayStart1}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="label">Wednesday</label>
                    <label class="input">
                      <input type="text" name="wednesdayStart1" id="wednesdayStart1"
                      placeholder="From" value="{{this.wednesdayStart1}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="label">Thursday</label>
                    <label class="input">
                      <input type="text" name="thursdayStart1" id="thursdayStart1"
                      placeholder="From" value="{{this.thursdayStart1}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="label">Friday</label>
                    <label class="input">
                      <input type="text" name="fridayStart1" id="fridayStart1"
                      placeholder="From" value="{{this.fridayStart1}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="label">Saturday</label>
                    <label class="input">
                      <input type="text" name="saturdayStart1" id="saturdayStart1"
                      placeholder="From" value="{{this.saturdayStart1}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="label">Sunday</label>
                    <label class="input">
                      <input type="text" name="sundayStart1" id="sundayStart1"
                      placeholder="From" value="{{this.sundayStart1}}">
                    </label>
                  </section>
                  <section class="col col-5">
                  </section>
                </div>

                <div class="row">
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="mondayEnd1" id="mondayEnd1"
                      placeholder="To" value="{{this.mondayEnd1}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="tuesdayEnd1" id="tuesdayEnd1"
                      placeholder="To" value="{{this.tuesdayEnd1}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="wednesdayEnd1" id="wednesdayEnd1"
                      placeholder="To" value="{{this.wednesdayEnd1}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="thursdayEnd1" id="thursdayEnd1"
                      placeholder="To" value="{{this.thursdayEnd1}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="fridayEnd1" id="fridayEnd1"
                      placeholder="To" value="{{this.fridayEnd1}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="saturdayEnd1" id="saturdayEnd1"
                      placeholder="To" value="{{this.saturdayEnd1}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="sundayEnd1" id="sundayEnd1"
                      placeholder="To" value="{{this.sundayEnd1}}">
                    </label>
                  </section>
                  <section class="col col-5">
                  </section>

                </div>
                <div class="row">
                  <label class="label">After lunch break</label>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="mondayStart2" id="mondayStart2"
                      placeholder="From" value="{{this.mondayStart2}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="tuesdayStart2" id="tuesdayStart2"
                      placeholder="From" value="{{this.tuesdayStart2}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="wednesdayStart2" id="wednesdayStart2"
                      placeholder="From" value="{{this.wednesdayStart2}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="thursdayStart2" id="thursdayStart2"
                      placeholder="From" value="{{this.thursdayStart2}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="fridayStart2" id="fridayStart2"
                      placeholder="From" value="{{this.fridayStart2}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="saturdayStart2" id="saturdayStart2"
                      placeholder="From" value="{{this.saturdayStart2}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="sundayStart2" id="sundayStart2"
                      placeholder="From" value="{{this.sundayStart2}}">
                    </label>
                  </section>
                  <section class="col col-5">
                  </section>
                </div>

                <div class="row">
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="mondayEnd2" id="mondayEnd2"
                      placeholder="To" value="{{this.mondayEnd2}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="tuesdayEnd2" id="tuesdayEnd2"
                      placeholder="To" value="{{this.tuesdayEnd2}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="wednesdayEnd2" id="wednesdayEnd2"
                      placeholder="To" value="{{this.wednesdayEnd2}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="thursdayEnd2" id="thursdayEnd2"
                      placeholder="To" value="{{this.thursdayEnd2}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="fridayEnd2" id="fridayEnd2"
                      placeholder="To" value="{{this.fridayEnd2}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="saturdayEnd2" id="saturdayEnd2"
                      placeholder="To" value="{{this.saturdayEnd2}}">
                    </label>
                  </section>
                  <section class="col col-1">
                    <label class="input">
                      <input type="text" name="sundayEnd2" id="sundayEnd2"
                      placeholder="To" value="{{this.sundayEnd2}}">
                    </label>
                  </section>
                  <section class="col col-5">
                  </section>

                </div>
              </fieldset>
              <fieldset style="margin-bottom:15px">
                <button type="submit" class="btn-u btn-u-default button-save sButton" id="btn-save-content" style="float:right; ">Save</button>
                <button type="button" class="btn-u btn-u-default cButton" id="button-close-player-form" style="float:right;">Close</button>
              </fieldset>
            </form>
          </div>

          <div class="tab-pane fade" id="player-details"><br>
            <form class="sky-form" action="#" id="sky-form">

              <fieldset style="margin-bottom:20px;">
          <div class="row" style="padding-left:20px">
                <label class="label">Assortiment</label>
                  {{#each listOfAssortiment}}                  
                      <span style="position: relative; top:-25px;">{{this}}</span><input id="{{this}}" type="checkbox" {{getTypePresence}} value="{{this}}" class="player-assortiment">                
                    <label for="{{this}}"></label>       
                  {{/each}}
                </div>
              </fieldset>

              <fieldset style="margin-bottom:20px;">
                  <div class="row" style="padding-left:20px">
                <label class="label">Region</label>
                  {{#each regions}}
                   <span style="position: relative; top:-25px;">{{this}}</span> <input id="{{this}}" type="checkbox" {{getRegionPresence}} value="{{this}}" class="player-regions">
                    <label for="{{this}}"></label>
                  {{/each}}
                </div>
              </fieldset>

              <fieldset style="margin-bottom:15px">
                <button type="submit" class="btn-u btn-u-default button-save sButton" id="btn-save-content" style="float:right; ">Save</button>
                <button type="button" class="btn-u btn-u-default cButton" id="button-close-player-form" style="float:right;">Close</button>
              </fieldset>
            </form>
          </div>




          <div class="tab-pane fade" id="playlist"><br>
            <form class="sky-form playlist-form" role="form">


              <fieldset>
                <div class="row">
                  <section class="col col-6">
    								<label class="label">Playlist</label>
    								<label class="select">
    									<select id="select-playlist">
                        {{#if isPlaylistChosen}}
                          <option value="{{getPlaylist._id}}">{{getPlaylist.name}}</option>
                        {{else}}
                        <option value="0">Choose playlist</option>
                        {{/if}}
                        {{#each playlists}}
                          <option value="{{_id}}">{{name}}</option>
                        {{/each}}
    									</select>
    									<!-- <i></i> -->
    								</label>
    							</section>
                  <section class="col col-3">
                    <label class="label">Duration in total</label>
                    <label class="input">
                      15 min(s)
                    </label>
                  </section>
                  <section class="col col-3">
                    <label class="label">Duration of private</label>
                    <label class="input">
                      30 min(s)
                    </label>
                  </section>
                </div>
                <div class="row">
                  <section class="col col-11">
                    <label class="label">Ticker text</label>
                    <label class="input">
                      <input type="text" name="tickerText" id="tickerText"
                      placeholder="Enter Ticker text" value="{{this.tickerText}}">
                    </label>
                  </section>
                </div>
              </fieldset>

              {{#with getPlaylist}}
                {{> playlistContentPart}}
              {{/with}}
              <fieldset style="margin-bottom:15px">
                <button type="submit" class="btn-u btn-u-default button-save sButton" id="btn-save-content" style="float:right; ">Save</button>
                <button type="button" class="btn-u btn-u-default cButton" id="button-close-player-form" style="float:right;">Close</button>
              </fieldset>
            </form>
          </div>
        </div>

      </div>
      </div>

</template>
