<template name ="player">

    <tr>
      <td>{{name}}</td>
      <td>{{location}}</td>
      <td>{{playerId}}</td>
      <td>{{postIndex}}</td>
      <td>{{townCity}}</td>
      <td>Status</td>
      <td>Last update</td>
      <td>
        <div class="player-row-controls">
          {{#if options.enableButtonEditPlayer}}
          <i type="button" class="editIcon" id="button-edit-player" style="float: right;margin-top: -15px;margin-left: 7px;">
                  <span style="font-size: 25px;font-style: normal;">&#9998;</span>
                </i>
          {{/if}}
          {{#if options.enableButtonDeletePlayer}}
           <i type="button" class="deleteIcon" style="float: right;margin-top: -15px;margin-left: 7px;" data-toggle="modal" data-target="#deleteConfirmation" id="button-delete-player">
                    <span style="font-size: 25px;font-style: normal;">&#128465;</span>
                  </i>
          {{/if}}
        </div>
      </td>
    </tr>

</template>
