/* CSS declarations go here */
body{
  background: #00C9FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00C9FF , #92FE9D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00C9FF , #92FE9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button-new{
  background-color: #0082C8;
  cursor: pointer;
  font-weight: 800;
  color: #FFF;
  margin-left: 10px;
}

.player-form, .media-form{
  position: relative;
}
.player-form .glyphicon-remove{
  margin-top: 20px;
  margin-right: 15px;
  color: red;
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 5px;
  font-size: 2em;
}

.media-form{
  /*margin-bottom: 20px;*/
}

.player-form .fa-floppy-o{
  margin-right: 15px;
  color: #0082C8;
  cursor: pointer;
  position: absolute;
  top: 800px;
  right: 5px;
  font-size: 2em;
}

.media-form .glyphicon-remove{
  /*margin-top: 20px;*/
  /*margin-right: 15px;*/
  color: red;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
}

.media-form .fa-floppy-o{
  /*margin-right: 15px;*/
  color: #0082C8;
  cursor: pointer;
  position: absolute;
  /*top: 170px;*/
  bottom: 10px;
  right: 10px;
  font-size: 2em;
}

.glyphicon-pencil{
  color: #0082C8;
  cursor: pointer;
  margin: 2px;
  /*position: absolute;
  top: 3px;
  right: 25px;*/
}

.glyphicon-trash{
  color: red;
  cursor: pointer;
  margin: 2px;
  /*position: absolute;
  top: 3px;
  right: 5px;*/
}

/*.player-row{
  background-color: #EEE;
  margin: 3px;
  margin-right: 20px;
  padding: 1px;
  position: relative;
}*/

.login-form{
  margin: 150px auto;

}

.form-weekly-schedule-part{

}

.form-weekly-schedule-part p{
  font-weight: bold;
}

.schedule-day{
  width: 62px;
  display: inline-block;
  margin-left: 10px;
}

.schedule-day p{
  text-align: center;
  margin-bottom: 1px;
  font-weight: bold;
}

.schedule-day-part-1{
  margin-bottom: 15px;
}

.schedule-day-part-2{

}
