/* CSS declarations go here */
body{

}

.button-new{
  background-color: #0082C8;
  cursor: pointer;
  font-weight: 800;
  color: #FFF;
  margin-left: 10px;
}

.contentForm{
  position: relative;
}
.contentForm .glyphicon-remove{
  margin-top: 20px;
  color: red;
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 5px;
  font-size: 1.6em;
}

.glyphicon-pencil{
  color: #0082C8;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 25px;
}

.glyphicon-trash{
  color: orange;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 5px;
}

.content-item{
  background-color: #EEE;
  margin: 3px;
  margin-right: 20px;
  padding: 1px;
  position: relative;
}
