<template name="editUser2">
  <div class="tab-v1 content-form">
      <!-- <div class="col-md-10 col-md-offset-1"> -->
          <form class="sky-form edit">
              <div class="panel-default">
                  <div class="panel-heading">
                      <span>Edit User</span>
                      <i type="button" class="glyphicon glyphicon-remove" style="color:red;" id="closeEditUser"></i>
                  </div>
                  <div class="panel-body">
                    {{#with user}}

                      <div class="form-group col-lg-12">
                          <label>Email</label>
                          <input type="email"  class="form-control" id="email" value="{{emails.[0].address}}">
                      </div>
                      <div class="form-group col-lg-12">
                          <label>Password</label>
                          <input type="password" name="" class="form-control" id="password" value="{{password}}">
                      </div>
                      <div class="form-group col-lg-6">
                          <label>Name</label>
                        <input type="text" name="" class="form-control" id="firstname" value="{{profile.name}}">
                      </div>



                      <div class="col-xs-12"><strong>Current role:</strong>
                        <label >
                        {{roleName profile.role}}
                        </label>
                      </div>



                        {{/with}}





                      <div class="col-xs-12">
                        <div class="dropdown" >
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Choose a role
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {{#each rolesInformation}}
                            <li class="list-group-item assignedRole"><input type="radio" name="optradio" aria-label="..." id="checked" value="{{this._id}}">{{this.roleName}}


                         </li>

                            {{/each}}
                            {{#with user}}
                            <li class="list-group-item assignedRole">  <input type="radio" name="optradio" id="checked"  value="{{profile.role}}" checked>{{roleName profile.role}}</li>
                            {{/with}}
                          </ul>
                        </div>

                    </div>
                      <div class="col-xs-12">

         <h3 class="text-center">Add Player/s</h3>

  <div class="form-group col-lg-8 col-md-offset-2">
    <div class="input-group"  >
    <input list="searchResults" type="text" class="form-control"  value="" id="onePlayer" placeholder="type player ID">
    <datalist id="searchResults">
           {{#each filteredPlayers}}
           <option value="{{playerId}}"></option>
           {{/each}}
         </datalist>
    <span class="input-group-btn">
    <a href="#" class="btn btn-default" type="button"  id="addPlayer">Add</a>
    </span></div>
    <label for="players">Assigned Players</label>
    <div class="well" style="max-height: 150px;overflow: auto;">






{{#with user}}{{#each profile.assignedPlayers}}

                          <div class="input-group assignedPlayersList">
                          <input type="text" class="form-control"   value="Player Id :{{playerIds this}} " DISABLED><input type="text" id="playerList" value="{{this}}" HIDDEN>
                          <span class="input-group-btn">
                          <button href="#" class="btn btn-default" type="button" name="{{../_id}}" id="deleteOnePlayer">X</button>
                          </span></div>{{/each}}{{/with}}

                          {{#each onePlayer}}


                                            <div class="input-group assignedPlayersList"  >
                                            <input type="text" class="form-control"   value="Player Id :{{this.playerId}}" DISABLED><input type="text" id="playerList" value="{{this.id}}" HIDDEN>
                                            <span class="input-group-btn">
                                            <button href="#" class="btn btn-default" type="button" name="{{../_id}}" id="deleteOnePlayer1">X</button>
                                            </span>
                                          </div> {{/each}}

                        </div>

                       </div>
                  </div></div>


                  <div class="panel-footer">
                      <button type="submit" class="btn btn-default">Save</button>
                  </div>
              </div>
          </form>
      <!-- </div> -->
  </div><br>
  <script type="text/javascript">
  $("#checkAll").click(function(){
    $('input:checkbox').not(this).prop('checked', this.checked);
  });
  </script>
</template>
