<template name="editUser2">

  <!-- new -->
  <div class="breadcrumbs secondHead">
    <div class="container secondHead1">
      <h3 class="pull-left">Edit User</h3>
    </div></div><br><br>
            <ul class="nav nav-tabs">
        <button type="button" class="btn-u btn-u-default button-save sButton" id="userEdit" style="float:right; ">Save</button>
        <button type="button" class="btn-u btn-u-default cButton" id="closeEditUser" style="float:right;">Close</button>
    </ul><br>

    <div class="panel-body sky-form">

        <form class="tab-v1 content-form" id="form" autocomplete="off">
                  <fieldset>{{#with user}}
                    <div class="row" style="border:none;">
                      <div class="form-group col-lg-4">
                    <label class="label">Email</label>
                    <label class="input">
                        <input type="email" id="email" value="{{emails.[0].address}}"></label></div><div class="form-group col-lg-4">
                      <label class="label">Password</label>
                      <label class="input">
                        <input type="password" id="password" autocomplete="new-password" value="{{password}}"></label></div><div class="form-group col-lg-4">
                        <label class="label">Name</label>
                        <label class="input">
                            <input type="text" id="firstname" value="{{profile.name}}"></label>
                      </div>
    </div>{{/with}}
  </fieldset>
  <fieldset>
    <div class="row" style="border:none;">
      <div class="form-group col-lg-4">
      <label class="label">Role</label>
      <label class="select">
        <select class="assignedRole">
          {{#with user}}
          <option value="{{this.profile.role}}" id="checked">Choose Role</option>
          {{/with}}
          {{#each rolesInformation}}
          <option value="{{this._id}}"  id="checked">{{this.roleName}} </option>
        {{/each}}
        {{#with user}}
          <option value="{{this.profile.role}}"  id="checked" style="color:red;" CHECKED>{{roleName profile.role}}</option>
        {{/with}}
        </select>
      </label>
    </div>
    <div class="form-group col-lg-8">
      <label class="label">Add Player/s</label>
      <label class="input"><div class="input-group"  >
      <input list="searchResults" type="text" class="form-control filter-input"  value="" id="onePlayer" placeholder="type player ID">
      <datalist id="searchResults">
            {{#each filteredPlayers}}
            <option value="{{playerId}}"></option>
            {{/each}}
          </datalist>
      <span class="input-group-btn">
      <a href="#" class="btn btn-default btnGrp" type="button"  id="addPlayer">Add</a>
    </span></div></label>
      <label class="label">Assigned Players list</label>
     <div class="well assignedPlayersList" style="max-height: 150px;overflow: auto;">
       {{#with user}}{{#each profile.assignedPlayers}}
       <label class="input"><div class="input-group regionList"  >
       <input type="text" class="form-control" value="Player Id :{{playerIds this}} " DISABLED>
       <span class="input-group-btn">
       <button href="#" class="btn btn-default btnGrp" type="button" name="{{../_id}}" id="deleteOnePlayer">X</button>
       </span>
       </div>
       </label>
       <input type="text" id="playerList" value="{{this}}" HIDDEN>

       {{/each}}{{/with}}
                  {{#each onePlayer}}
                <label class="input"><div class="input-group regionList"  >
                <input type="text" class="form-control" value="Player Id :{{this.playerId}}" DISABLED>
                <span class="input-group-btn">
                <button href="#" class="btn btn-default btnGrp" type="button" name="{{../_id}}" id="deleteOnePlayer1">X</button>
                </span>
                </div>
                </label>
                <input type="text" id="playerList" value="{{this.id}}" HIDDEN>
                {{/each}}
          </div>
       </div>
    </div>
  </fieldset>
</form>
<div class="form-group col-lg-6">
</div>
 </div>
    <br>
  <button type="button" class="btn-u btn-u-default button-save sButton" id="userEdit" style="float:right; ">Save</button>
    <button type="button" class="btn-u btn-u-default cButton" id="closeEditUser" style="float:right;">Close</button>
    <br><br><br><br>

  <!-- new -->
  <!-- <div class="tab-v1 content-form">
          <form class="sky-form edit">
              <div class="panel-default">
                  <div class="panel-heading">
                      <span>Edit User</span>
                      <i type="button" class="glyphicon glyphicon-remove" style="color:red;" id="closeEditUser"></i>
                  </div>
                  <div class="panel-body">
                    {{#with user}}
                      <div class="form-group col-lg-12">
                          <label>Email</label>
                          <input type="email"  class="form-control" id="email" value="{{emails.[0].address}}">
                      </div>
                      <div class="form-group col-lg-12">
                          <label>Password</label>
                          <input type="password" name="" class="form-control" id="password" value="{{password}}">
                      </div>
                      <div class="form-group col-lg-6">
                          <label>Name</label>
                        <input type="text" name="" class="form-control" id="firstname" value="{{profile.name}}">
                      </div>
                      <div class="col-xs-12"><strong>Current role:</strong>
                        <label >
                        {{roleName profile.role}}
                        </label>
                      </div>
                        {{/with}}
                      <div class="col-xs-12">
                        <div class="dropdown" >
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Choose a role
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {{#each rolesInformation}}
                            <li class="list-group-item assignedRole"><input type="radio" name="optradio" aria-label="..." id="checked" value="{{this._id}}">{{this.roleName}}
                         </li>
                            {{/each}}
                            {{#with user}}
                            <li class="list-group-item assignedRole">  <input type="radio" name="optradio" id="checked"  value="{{profile.role}}" checked>{{roleName profile.role}}</li>
                            {{/with}}
                          </ul>
                        </div>
                    </div>
                      <div class="col-xs-12">
         <h3 class="text-center">Add Player/s</h3>
  <div class="form-group col-lg-8 col-md-offset-2">
    <div class="input-group"  >
    <input list="searchResults" type="text" class="form-control"  value="" id="onePlayer" placeholder="type player ID">
    <datalist id="searchResults">
           {{#each filteredPlayers}}
           <option value="{{playerId}}"></option>
           {{/each}}
         </datalist>
    <span class="input-group-btn">
    <a href="#" class="btn btn-default" type="button"  id="addPlayer">Add</a>
    </span></div>
    <label for="players">Assigned Players</label>
    <div class="well" style="max-height: 150px;overflow: auto;">
{{#with user}}{{#each profile.assignedPlayers}}

                          <div class="input-group assignedPlayersList">
                          <input type="text" class="form-control"   value="Player Id :{{playerIds this}} " DISABLED><input type="text" id="playerList" value="{{this}}" HIDDEN>
                          <span class="input-group-btn">
                          <button href="#" class="btn btn-default" type="button" name="{{../_id}}" id="deleteOnePlayer">X</button>
                          </span></div>{{/each}}{{/with}}
                          {{#each onePlayer}}
                                            <div class="input-group assignedPlayersList"  >
                                            <input type="text" class="form-control"   value="Player Id :{{this.playerId}}" DISABLED><input type="text" id="playerList" value="{{this.id}}" HIDDEN>
                                            <span class="input-group-btn">
                                            <button href="#" class="btn btn-default" type="button" name="{{../_id}}" id="deleteOnePlayer1">X</button>
                                            </span>
                                          </div> {{/each}}
                        </div>
                       </div>
                  </div></div>
              </div>
          </form>
  </div><br>
  <script type="text/javascript">
  $("#checkAll").click(function(){
    $('input:checkbox').not(this).prop('checked', this.checked);
  });
  </script> -->
</template>
