<template name="registerUser2"><br>
  <div class="tab-v1 content-form">
      <!-- <div class="col-md-10 col-md-offset-1"> -->
          <form class="sky-form register" autocomplete="off">
              <div class=" panel-default">
                  <div class="panel-heading">
                    <span>User Registration</span>
                      <i type="button" class="glyphicon glyphicon-remove" style="color:red;" id="closeUserCreate"></i>
                  </div>
                  <div class="panel-body">

                      <div class="form-group col-lg-12">
                          <label>Email</label>
                          <input type="email"  class="form-control" id="email" value="" REQUIRED>
                      </div>
                      <div class="form-group col-lg-12">
                          <label>Password</label>
                          <input type="password" name="" class="form-control" id="password" value="" autocomplete="new-password" REQUIRED>
                      </div>
                      <div class="form-group col-lg-12">
                          <label>Name</label>
                          <input type="text" name="" class="form-control" id="firstname" value="" REQUIRED>
                      </div>

                       <div class="form-group col-lg-12">

                         <div class="col-xs-6">
                         <div class="dropdown" >
                           <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                             Choose a role
                             <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                             {{#each rolesInformation}}
                             <li class="list-group-item assignedRole"><input type="radio" name="optradio" aria-label="..." id="checked" value="{{_id}}">{{roleName}}


                          </li>

                             {{/each}}
                           </ul>
                         </div></div>


                       </div>

                      <div class="col-xs-12">

         <h3 class="text-center">Assign Player/s</h3>

         <div class="form-group col-lg-8 col-md-offset-2">
           <!-- <label for="sortiment">Add new Sortiment</label> -->
           <div class="input-group"  >
           <input list="searchResults" type="text" class="form-control filter-input" value="" id="onePlayer" placeholder="type player ID">
           <datalist id="searchResults">
             {{#each filteredPlayers}}
             <option value="{{playerId}}"></option>
             {{/each}}
           </datalist>

           <span class="input-group-btn">
           <a href="#" class="btn btn-default" type="button"  id="addPlayer">Add</a>
         </span></div>
         <label for="players">Assigned Players</label>
        <div class="well" style="max-height: 150px;overflow: auto;">

         {{#each onePlayer}}


                   <div class="input-group assignedPlayersList"  >
                   <input type="text" class="form-control"   value="Player Id :{{this.playerId}}" DISABLED><input type="text" id="playerList" value="{{this.id}}" HIDDEN>
                   <span class="input-group-btn">
                   <button href="#" class="btn btn-default" type="button" name="{{../_id}}" id="deleteOnePlayer">X</button>
                   </span>
                 </div> {{/each}}
               </div>

       </div>


          </div>
                  </div>
                  <div class="panel-footer">
                      <button type="submit" class="btn btn-default">Save</button>
                  </div>
              </div>
          </form>
      <!-- </div> -->
  </div>

</template>
