<template name ="media">
  {{#if isEditMode}}
      <tr>
        <td colspan="6">
          {{#with this}}
          {{> mediaForm}}
          {{/with}}
        </td>
      </tr>
  {{else}}
    <tr class="media-row">
      <td>
        <div class="thumbnails thumbnail-style">
          <img src="{{imageFile.link}}" alt="{{imageFile.name}}"  width="71" height="40"/>
        </div>
      </td>
      <td>{{name}}</td>
      <td>{{category}}</td>
      <td>{{type}}</td>
      <td>{{prettifyDate createdAt}}</td>
      {{#if disableControls}}
      {{else}}
        <td>
          <div class="media-row-controls">
            {{#if mayEdit}}
              <i type="button" class="glyphicon glyphicon-pencil" id="button-edit-media"></i>
            {{/if}}
            <i type="button" class="glyphicon glyphicon-trash"
            data-toggle="modal" data-target="#deleteConfirmation"></i>
            <i type="button" class="fa fa-play" data-target="#media-video-modal" id="button-play-media"></i>
          </div>
        </td>
      {{/if}}
    </tr>
  {{/if}}  
</template>
