<template name ="mediaForm">

      <!-- <h3 class="panel-title">Create/edit</h3> -->
      <!-- <i type="button" class="glyphicon glyphicon-remove" id="button-close-media-form"></i> -->

  <div class="panel-v1  content-form">
      <ul class="nav nav-tabs">
        <button type="button" class="btn-u btn-u-default sButton mediaSave" style="float:right;">Save</button>
        <button type="button" class="btn-u btn-u-default cButton" style="float:right;" id="buttonCloseMediaForm">Close</button>

      </ul><br>

      <div class="panel-body sky-form">
        <div class="col-sm-3">
      <input type="text" name=""  id="nameOfMedia"
        placeholder="Enter name of media" value="{{this.name}}">
      </div>
    <div class="col-sm-3">
                {{> searchCategory category=category}}
                <!-- <label for="category" class="sr-only">Category</label>
                <input type="text" name="" class="form-control" id="category" placeholder="Enter category"> -->
    </div>
    <div class="col-sm-3">


                {{#with this}}
                  {{> mediaUpload uploadedFileName=uploadedFileName}}
                {{/with}}
    </div></div><br><br>
      <!-- <div class="panel-heading">
        <div class="row" style="border:none;"> -->


        <!-- <span>{{options.header}}</span> -->




      <!-- </div>
    </div> -->
    </div>
</template>
