<template name ="mediaForm">

  <div class="panel-v1  content-form">
      <ul class="nav nav-tabs">
        <button type="button" class="btn-u btn-u-default sButton mediaSave" style="float:right;">Save</button>
        <button type="button" class="btn-u btn-u-default cButton" style="float:right;" id="buttonCloseMediaForm">Close</button>
      </ul><br>
      <div class="panel-body sky-form">
        <div class="col-sm-2"><br>
          <div class="thumbnails thumbnail-style">

            <img src="{{imageFile.link}}" alt="{{imageFile.name}}"  width="71" height="40"/>
          </div>
        </div>
        <div class="col-sm-3">
            Name : <br>
            <input type="text" name=""  id="nameOfMedia"
              placeholder="Enter name of media" value="{{this.name}}">
      </div>
        <div class="col-sm-3">
            Category : <br>
            <input list="categories" id="searchCategories" value="{{category}}">
            <datalist id="categories">
              {{#each getCategories}}
                <option value="{{this}}"></option>
              {{/each}}
            </datalist>
        </div>
    <div class="col-sm-3">
      <span style="margin-left:5px;"> File :</span>
        {{#with this}}
          {{> mediaUpload uploadedFileName=uploadedFileName}}
        {{/with}}


    </div></div><br><br>
    </div>
</template>
