<template name ="media">
  {{#if isEditMode}}
      <tr>
        <td colspan="6">
          {{#with this}}
          {{> mediaForm}}
          {{/with}}
        </td>
      </tr>

  {{else}}
    <tr class="media-row">
      <td>
        <div class="thumbnails thumbnail-style">
          <img src="{{imageFile.link}}" alt="{{imageFile.name}}"  width="71" height="40"/>
        </div>
      </td>
      <td>{{name}}</td>
      <td>{{category}}</td>
      <td>{{type}}</td>
      <td>{{prettifyDate createdAt}}</td>
      {{#if disableControls}}
      {{else}}
        <td>
          <div class="media-row-controls">
            {{#if mayEdit}}
              <i type="button" class="glyphicon glyphicon-pencil" id="button-edit-media"></i>
            {{/if}}
            <i type="button" class="glyphicon glyphicon-trash"
            data-toggle="modal" data-target="#deleteConfirmation"></i>
            <i type="button" class="fa fa-play" data-target="#media-video-modal" id="button-play-media"></i>
          </div>
        </td>
      {{/if}}
    </tr>
  {{/if}}
  <!-- <div class="modal fade" id="media-video-modal" tabindex="-1" role="dialog" aria-labelledby="modal-video-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel4">Media video will be played in this modal</h4>

        </div>
        <div class="modal-body">
          <div class="modal-video">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/84910153?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=e89a3e"></iframe>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->
</template>
