<template name="mediaUpload">
  {{#with currentUpload}}
    Uploading <b>{{file.name}}</b>:
    <span id="progress">{{progress.get}}%</span>
  {{else}}
    <div class="input-group">
      <label class="input-group-btn">
        <span class="btn btn-primary">
          Choose file
          <input id="fileInput" type="file" style="display: none;" multiple>
        </span>
      </label>
      <input type="text" class="form-control" readonly value="{{uploadedFileName}}">
    </div>
    <!-- <input id="fileInput" class="btn-u btn-u-default form-control" type="file"/> -->
  {{/with}}

  <!-- screenshot -->

  <canvas class="snapshot_generator"></canvas>
  <video  muted class="snapshot_generator" >

  </video>
  <!-- screenshot -->
</template>
