<template name ="mediaForm">
  <div class="panel panel-grey margin-bottom-40 col-md-10 col-md-offset-1">
    <div class="panel-heading">
      <h3 class="panel-title">Create/edit media</h3>
      <i type="button" class="glyphicon glyphicon-remove" id="button-close-media-form"></i>
    </div>
    <div class="panel-body">
      <form class="form-inline media-form" role="form">
        <i type="button" class="fa fa-floppy-o button-save"></i>
        <div class="form-group">
          <label for="nameOfMedia" class="sr-only">Name</label>
          <input type="text" name="" class="form-control" id="nameOfMedia" placeholder="Enter name of media">
        </div>
        <div class="form-group">
          {{#with this}}
            {{> mediaUpload uploadedFileName=uploadedFileName}}
          {{/with}}
        </div>
        <div class="form-group">
          {{> searchCategory categories=categories}}
          <!-- <label for="category" class="sr-only">Category</label>
          <input type="text" name="" class="form-control" id="category" placeholder="Enter category"> -->
        </div>
      </form>
    </div>
  </div>
</template>
