<template name ="roleEdit">

  <ul class="nav nav-tabs">

        <button type="button" class="btn-u btn-u-default sButton" style="float:right;" id="saveEditRole">Save</button>
        <button type="button" class="btn-u btn-u-default cButton" style="float:right;" id="closeEditRole">Close</button>
      </ul><br>


{{#with editRole}}
      <form class="sky-form editRole-form">

        <fieldset>
              <div class="row" style="border:none">

                <div class="form-group col-lg-4">
                <label class="label">Role Name</label>
                <label class="input"><input type="text"  class="form-control" id="roleName" value="{{roleName}}"></label></div>
              </div>
            </fieldset>
            <fieldset>
              <div class="row" style="border:none">
                <label class="label">permissions</label>

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Player</th>
                      <th>Video/Img</th>
                      <th>Content</th>
                      <th>Content Grp</th>
                      <th>Playlist</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Create</td>
                      <td>{{#if createPlayer}} <input type='checkbox' id="createPlayer" class='tags-checkbox sr-only' value="{{this}}" checked/>
    <label for='createPlayer'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="createPlayer" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='createPlayer'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if createVideoImg}} <input type='checkbox' id="createVideoImg" class='tags-checkbox sr-only' value="{{this}}" checked/>
    <label for='createVideoImg'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="createVideoImg" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='createVideoImg'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if createContent}} <input type='checkbox' id="createContent" class='tags-checkbox sr-only' value="{{this}}" checked/>
    <label for='createContent'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="createContent" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='createContent'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if createContentGrp}} <input type='checkbox' id="createContentGrp" class='tags-checkbox sr-only' value="{{this}}" checked/>
    <label for='createContentGrp'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="createContentGrp" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='createContentGrp'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if createPlaylist}} <input type='checkbox' id="createPlaylist" class='tags-checkbox sr-only' value="{{this}}" checked/>
    <label for='createPlaylist'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="createPlaylist" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='createPlaylist'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                    </tr>
                    <tr>
                      <td>Edit</td>
                      <td>{{#if editPlayer}} <input type='checkbox' id="editPlayer" class='tags-checkbox sr-only' value="{{this}}" checked/>
    <label for='editPlayer'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="editPlayer" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='editPlayer'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if editVideoImg}} <input type='checkbox' id="editVideoImg" class='tags-checkbox sr-only' value="{{this}}" checked/>
    <label for='editVideoImg'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="editVideoImg" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='editVideoImg'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if editContent}} <input type='checkbox' id="editContent" class='tags-checkbox sr-only' value="{{this}}" checked/>
    <label for='editContent'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="editContent" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='editContent'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if grantContentGrpAccess}} <input type='checkbox' id="grantContentGrpAccess" class='tags-checkbox sr-only' value="{{this}}" checked/>
    <label for='grantContentGrpAccess'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="grantContentGrpAccess" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='grantContentGrpAccess'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                     <td>{{#if editPlaylist}} <input type='checkbox' id="editPlaylist" class='tags-checkbox sr-only' value="{{this}}" checked/>
   <label for='editPlaylist'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="editPlaylist" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='editPlaylist'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>

                    </tr>
                    <tr>
                      <td>Delete</td>
                      <td>{{#if deletePlayer}} <input type='checkbox' id="deletePlayer" class='tags-checkbox sr-only' value="{{this}}" checked/>
    <label for='deletePlayer'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="deletePlayer" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='deletePlayer'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if deleteVideoImg}} <input type='checkbox' id="deleteVideoImg" class='tags-checkbox sr-only' value="{{this}}" checked/>
    <label for='deleteVideoImg'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="deleteVideoImg" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='deleteVideoImg'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if deleteContent}} <input type='checkbox' id="deleteContent" class='tags-checkbox sr-only' value="{{this}}" checked/>
    <label for='deleteContent'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="deleteContent" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='deleteContent'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if deleteContentGrp}} <input type='checkbox' id="deleteContentGrp" class='tags-checkbox sr-only' value="{{this}}" checked/>
    <label for='deleteContentGrp'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="deleteContentGrp" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='deleteContentGrp'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if deletePlaylist}} <input type='checkbox' id="deletePlaylist" class='tags-checkbox sr-only' value="{{this}}" checked/>
    <label for='deletePlaylist'>
        <i class='glyphicon glyphicon-remove' style="color:red"></i>
        <i class='glyphicon glyphicon-ok' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="deletePlaylist" class='tags-checkbox sr-only' value="{{this}}"/>
<label for='deletePlaylist'>
<i class='glyphicon glyphicon-remove' style="color:red"></i>
<i class='glyphicon glyphicon-ok' style="color:green"></i>
<span class='label-content'></span>
</label>{{/if}}</td>

                    </tr>
                  </tbody>
                </table>
                <table class="table table-striped">
                  <thead>
                    <tr>

                      <th>Admin Menu</th>
                      <th>Network Menu</th>
                      <th>User Menu</th>
                      <th>Role Menu</th>
                      <th>Conten Menu</th>
                      <th>Statistics menu</th>
                      <th>Home Menu</th>
                      <th>Media</th>
                      <th>Content</th>
                      <th>Players</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>

                      <td>{{#if adminMenu}}<input type='checkbox' id="adminMenu" class='tags-checkbox sr-only' checked/>
    <label for='adminMenu'>
        <i class='glyphicon glyphicon-eye-close' style="color:red"></i>
        <i class='glyphicon glyphicon-eye-open' style="color:green"></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="adminMenu" class='tags-checkbox sr-only'/>
<label for='adminMenu'>
<i class='glyphicon glyphicon-eye-close' style="color:red"></i>
<i class='glyphicon glyphicon-eye-open' style="color:green"></i>
<span class='label-content'></span></label>{{/if}}</td>
                      <td>{{#if netzMenu}}<input type='checkbox' id="netzMenu" class='tags-checkbox sr-only' checked/>
    <label for='netzMenu'>
        <i class='glyphicon glyphicon-ban-circle'></i>
        <i class='glyphicon glyphicon-ok-circle'></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="netzMenu" class='tags-checkbox sr-only'/>
<label for='netzMenu'>
<i class='glyphicon glyphicon-ban-circle'></i>
<i class='glyphicon glyphicon-ok-circle'></i>
<span class='label-content'></span></label>{{/if}}</td>
                      <td>{{#if userMenu}}<input type='checkbox' id="userMenu" class='tags-checkbox sr-only' checked/>
    <label for='userMenu'>
        <i class='glyphicon glyphicon-ban-circle'></i>
        <i class='glyphicon glyphicon-ok-circle'></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="userMenu" class='tags-checkbox sr-only'/>
<label for='userMenu'>
<i class='glyphicon glyphicon-ban-circle'></i>
<i class='glyphicon glyphicon-ok-circle'></i>
<span class='label-content'></span></label>{{/if}}</td>
                      <td>{{#if roleMenu}}<input type='checkbox' id="roleMenu" class='tags-checkbox sr-only' checked/>
    <label for='roleMenu'>
        <i class='glyphicon glyphicon-ban-circle'></i>
        <i class='glyphicon glyphicon-ok-circle'></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="roleMenu" class='tags-checkbox sr-only'/>
<label for='roleMenu'>
<i class='glyphicon glyphicon-ban-circle'></i>
<i class='glyphicon glyphicon-ok-circle'></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if contentMenu}}<input type='checkbox' id="contentMenu" class='tags-checkbox sr-only' checked/>
    <label for='contentMenu'>
        <i class='glyphicon glyphicon-ban-circle'></i>
        <i class='glyphicon glyphicon-ok-circle'></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="contentMenu" class='tags-checkbox sr-only'/>
<label for='contentMenu'>
<i class='glyphicon glyphicon-ban-circle'></i>
<i class='glyphicon glyphicon-ok-circle'></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if statisticMenu}}<input type='checkbox' id="statisticMenu" class='tags-checkbox sr-only' checked/>
    <label for='statisticMenu'>
        <i class='glyphicon glyphicon-ban-circle'></i>
        <i class='glyphicon glyphicon-ok-circle'></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="statisticMenu" class='tags-checkbox sr-only'/>
<label for='statisticMenu'>
<i class='glyphicon glyphicon-ban-circle'></i>
<i class='glyphicon glyphicon-ok-circle'></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if homeEditMenu}}<input type='checkbox' id="homeEditMenu" class='tags-checkbox sr-only' checked/>
    <label for='homeEditMenu'>
        <i class='glyphicon glyphicon-ban-circle'></i>
        <i class='glyphicon glyphicon-ok-circle'></i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="homeEditMenu" class='tags-checkbox sr-only'/>
<label for='homeEditMenu'>
<i class='glyphicon glyphicon-ban-circle'></i>
<i class='glyphicon glyphicon-ok-circle'></i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if seeMedia}}<input type='checkbox' id="seeMedia" class='tags-checkbox sr-only' checked/>
    <label for='seeMedia'>
        <i class='glyphicon glyphicon-ban-circle'> own</i>
        <i class='glyphicon glyphicon-ok-circle'> all</i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="seeMedia" class='tags-checkbox sr-only'/>
<label for='seeMedia'>
<i class='glyphicon glyphicon-ban-circle'> own</i>
<i class='glyphicon glyphicon-ok-circle'> all</i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if seeContent}}<input type='checkbox' id="seeContent" class='tags-checkbox sr-only' checked/>
    <label for='seeContent'>
        <i class='glyphicon glyphicon-ban-circle'> own</i>
        <i class='glyphicon glyphicon-ok-circle'> all</i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="seeContent" class='tags-checkbox sr-only'/>
<label for='seeContent'>
<i class='glyphicon glyphicon-ban-circle'> own</i>
<i class='glyphicon glyphicon-ok-circle'> all</i>
<span class='label-content'></span>
</label>{{/if}}</td>
                      <td>{{#if seeAllPlayers}}<input type='checkbox' id="seeAllPlayers" class='tags-checkbox sr-only' checked/>
    <label for='seeAllPlayers'>
        <i class='glyphicon glyphicon-ban-circle'> own</i>
        <i class='glyphicon glyphicon-ok-circle'> all</i>
        <span class='label-content'></span>
    </label>{{else}}<input type='checkbox' id="seeAllPlayers" class='tags-checkbox sr-only'/>
<label for='seeAllPlayers'>
<i class='glyphicon glyphicon-ban-circle'> own</i>
<i class='glyphicon glyphicon-ok-circle'> all</i>
<span class='label-content'></span>
</label>{{/if}}</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </fieldset>

      </form>
{{/with}}
<br><br><button type="button" class="btn-u btn-u-default sButton" style="float:right;" id="saveEditRole">Save</button>
  <button type="button" class="btn-u btn-u-default cButton" style="float:right;" id="closeEditRole">Close</button>
<br><br><br><br>
</template>
