<template name ="roleEdit">

  <div class="tab-v1 content-form">
    <!-- <div class="col-md-10 col-md-offset-1"> -->
      <form class="sky-form editRole-form">
      <div class=" panel-default panel-table">
        <div class="panel-heading">
          <span>Edit Role</span>
          <i type="button" class="glyphicon glyphicon-remove" style="color:red;" id="closeEditRole"></i>

        </div>

        <div class="panel-body">
          {{#with editRole}}
          <div>
          <tr>
            <td>Role Name :<input type="text" name="" class="form-control" id="roleName" value="{{roleName}}" placeholder="admin,user etc."><hr>
            </td>
          </tr>
          </div>
          <table class="table table-striped">

            <tbody>





                  <tr class="col-sm-12">
                <td class="col-sm-4">{{#if createPlayer}}
                      Create Player :<input type="checkbox" aria-label="..." id="createPlayer" value="{{this}}" checked>
                    {{else}}
                      Create Player :<input type="checkbox" aria-label="..." id="createPlayer" value="{{this}}" >
                    {{/if}}
                </td>
                <td class="col-sm-4">{{#if editPlayer}}
                      Edit Player :<input type="checkbox" aria-label="..." id="editPlayer" value="{{this}}" checked >
                    {{else}}
                      Edit Player :<input type="checkbox" aria-label="..." id="editPlayer" value="{{this}}" >
                    {{/if}}
                </td>
                <td class="col-sm-4">{{#if deletePlayer}}
                      Delete Player :<input type="checkbox" aria-label="..." id="deletePlayer" value="{{this}}" checked>
                    {{else}}
                      Delete Player :<input type="checkbox" aria-label="..." id="deletePlayer" value="{{this}}" >
                    {{/if}}
                </td>
              </tr>
              <tr class="col-sm-12">
                <td class="col-sm-4">{{#if createVideoImg}}
                      Create Video/Img :<input type="checkbox" aria-label="..." id="createVideoImg" value="{{this}}" checked>
                    {{else}}
                      Create Video/Img :<input type="checkbox" aria-label="..." id="createVideoImg" value="{{this}}" >
                    {{/if}}
                </td>
                <td class="col-sm-4">{{#if editVideoImg}}
                      Edit Video/Img :<input type="checkbox" aria-label="..." id="editVideoImg" value="{{this}}" checked>
                    {{else}}
                      Edit Video/Img :<input type="checkbox" aria-label="..." id="editVideoImg" value="{{this}}" >
                    {{/if}}
                </td>
                <td class="col-sm-4">{{#if deleteVideoImg}}
                      Delete Video/Img :<input type="checkbox" aria-label="..." id="deleteVideoImg" value="{{this}}" checked>
                    {{else}}
                      Delete Video/Img :<input type="checkbox" aria-label="..." id="deleteVideoImg" value="{{this}}" >
                    {{/if}}
                </td>
              </tr>
              <tr class="col-sm-12">
                <td class="col-sm-4">{{#if createContent}}
                        Create Content :<input type="checkbox" aria-label="..." id="createContent" value="{{this}}" checked>
                    {{else}}
                          Create Content :<input type="checkbox" aria-label="..." id="createContent" value="{{this}}" >
                    {{/if}}
                </td>
                <td class="col-sm-4">{{#if editContent}}
                      Edit Content :<input type="checkbox" aria-label="..." id="editContent" value="{{this}}" checked>
                    {{else}}
                      Edit Content :<input type="checkbox" aria-label="..." id="editContent" value="{{this}}" >
                    {{/if}}
                </td>
                <td class="col-sm-4">{{#if deleteContent}}
                      Delete Content :<input type="checkbox" aria-label="..." id="deleteContent" value="{{this}}" checked>
                    {{else}}
                      Delete Content :<input type="checkbox" aria-label="..." id="deleteContent" value="{{this}}" >
                    {{/if}}
                </td>
              </tr>
              <tr class="col-sm-12">
                <td class="col-sm-4">{{#if createContentGrp}}
                        Create Content Group :<input type="checkbox" aria-label="..." id="createContentGrp" value="{{this}}" checked>
                    {{else}}
                          Create Content Group :<input type="checkbox" aria-label="..." id="createContentGrp" value="{{this}}" >
                    {{/if}}
                </td>

                <td class="col-sm-4">{{#if deleteContentGrp}}
                      Delete Content Group :<input type="checkbox" aria-label="..." id="deleteContentGrp" value="{{this}}" checked>
                    {{else}}
                      Delete Content Group :<input type="checkbox" aria-label="..." id="deleteContentGrp" value="{{this}}" >
                    {{/if}}
                </td>
                <td class="col-sm-4">{{#if grantContentGrpAccess}}
                      Content Group Edit Privileges :<input type="checkbox" aria-label="..." id="grantContentGrpAccess" value="{{this}}" checked>
                    {{else}}
                      Content Group Edit Privileges :<input type="checkbox" aria-label="..." id="grantContentGrpAccess" value="{{this}}" >
                    {{/if}}
                </td>
              </tr>
              <tr class="col-sm-12">
                <td class="col-sm-4">{{#if createPlaylist}}
                        Create Playlist :<input type="checkbox" aria-label="..." id="createPlaylist" value="{{this}}" checked>
                    {{else}}
                          Create Playlist :<input type="checkbox" aria-label="..." id="createPlaylist" value="{{this}}" >
                    {{/if}}
                </td>
                <td class="col-sm-4">{{#if editPlaylist}}
                      Edit Playlist :<input type="checkbox" aria-label="..." id="editPlaylist" value="{{this}}" checked>
                    {{else}}
                      Edit Playlist :<input type="checkbox" aria-label="..." id="editPlaylist" value="{{this}}" >
                  {{/if}}
                </td>
                <td class="col-sm-4">{{#if deletePlaylist}}
                      Delete Playlist :<input type="checkbox" aria-label="..." id="deletePlaylist" value="{{this}}" checked>
                    {{else}}
                      Delete Playlist :<input type="checkbox" aria-label="..." id="deletePlaylist" value="{{this}}" >
                    {{/if}}
                </td>
              </tr>
              <tr class="col-sm-12">
                <td class="col-sm-4">{{#if adminMenu}}
                      Admin menu Visible :<input type="checkbox" aria-label="..." id="adminMenu" value="{{this}}" checked>
                    {{else}}
                      Admin menu Visible :<input type="checkbox" aria-label="..." id="adminMenu" value="{{this}}" >
                    {{/if}}
                </td>
                <td class="col-sm-4">{{#if netzMenu}}
                      Network menu Visible :<input type="checkbox" aria-label="..." id="netzMenu" value="{{this}}" checked>
                    {{else}}
                      Network menu Visible :<input type="checkbox" aria-label="..." id="netzMenu" value="{{this}}" >
                    {{/if}}
                </td>
                <td class="col-sm-4">{{#if userMenu}}
                      User menu Visible :<input type="checkbox" aria-label="..." id="userMenu" value="{{this}}" checked>
                    {{else}}
                      User menu Visible :<input type="checkbox" aria-label="..." id="userMenu" value="{{this}}" >
                    {{/if}}
                </td>
              </tr>
              <tr class="col-sm-12">
                <td class="col-sm-3">{{#if roleMenu}}
                      Role menu Visible :<input type="checkbox" aria-label="..." id="roleMenu" value="{{this}}" checked>
                    {{else}}
                      Role menu Visible :<input type="checkbox" aria-label="..." id="roleMenu" value="{{this}}" >
                    {{/if}}
                </td>
                <td class="col-sm-3">{{#if contentMenu}}
                      Content menu Visible :<input type="checkbox" aria-label="..." id="contentMenu" value="{{this}}" checked>
                    {{else}}
                      Content menu Visible :<input type="checkbox" aria-label="..." id="contentMenu" value="{{this}}" >
                    {{/if}}
                </td>
              <td class="col-sm-3">{{#if statisticMenu}}
                    Statistics menu Visible :<input type="checkbox" aria-label="..." id="statisticMenu" value="{{this}}" checked>
                  {{else}}
                    Statistics menu Visible :<input type="checkbox" aria-label="..." id="statisticMenu" value="{{this}}" >
                  {{/if}}
              </td>
              <td class="col-sm-3">{{#if homeEditMenu}}
                    Home Edit menu Visible :<input type="checkbox" aria-label="..." id="homeEditMenu" value="{{this}}" checked>
                  {{else}}
                    Home Edit menu Visible :<input type="checkbox" aria-label="..." id="homeEditMenu" value="{{this}}" >
                  {{/if}}
              </td>
            </tr>
            <tr class="col-sm-12">
              <td class="col-sm-3">{{#if seeMedia}}
                  Media Visible :All<input type="radio" name="optradio3" id="seeMedia" value="{{this}}" checked>
                  Own<input type="radio" name="optradio3" id="seeMedia" value="{{this}}">
                  {{else}}
                  Media Visible :All<input type="radio" name="optradio3" id="seeMedia" value="{{this}}" >
                  Own<input type="radio" name="optradio3" id="seeMedia" value="{{this}}" checked>
                  {{/if}}
              </td>
              <td class="col-sm-3">{{#if seeContent}}
                  Content Visible :All<input type="radio" name="optradio4" id="seeContent" value="{{this}}" checked>
                  Own<input type="radio" name="optradio4" id="seeContent" value="{{this}}">
                  {{else}}
                  Content Visible :All<input type="radio" name="optradio4" id="seeContent" value="{{this}}" >
                  Own<input type="radio" name="optradio4" id="seeContent" value="{{this}}" checked>
                  {{/if}}
              </td>

              <td class="col-sm-3">{{#if seeAllPlayers}}
                  Players Visible :All<input type="radio" name="optradio6" id="seeContentGroup" value="{{this}}" checked>
                  Own<input type="radio" name="optradio6" id="seeAllPlayers" value="{{this}}">
                  {{else}}
                  Players Visible :All<input type="radio" name="optradio6" id="seeContentGroup" value="{{this}}" >
                  Own<input type="radio" name="optradio6" id="seeAllPlayers" value="{{this}}" checked>
                  {{/if}}
              </td>
            </tr>
            </tbody>
          </table>

          {{/with}}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-default">Save</button>
        </div>

      </div>
      </form>
    <!-- </div> -->
  </div><br>
</template>
