<template name="adminRole"><br>
  <div class="row">
      <!-- <div class="col-md-10 col-md-offset-1"> -->
          <form class="register-form">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <span>Create role</span>
                      <i type="button" class="glyphicon glyphicon-remove" style="color:red;" id="closeCreateRole"></i>
                  </div>
                  <div class="panel-body">

                      <div class="form-group col-lg-12">
                          <label>Net Name: </label><span class="label label-success">It Park</span>
                          <label>Net Id:</label><span class="label label-success">00001</span>
                      </div>
                      <div class="form-group col-lg-12">
                          <label>Role Name: </label>
                          <input type="text" name="" class="form-control" id="roleName" value="" placeholder="admin,user etc.">
                      </div>
                        <label> Roles:</label><hr>
                      <div class="form-group col-lg-3">


                            <form>
                              <label class="list-group-item">
                                <input type="checkbox" aria-label="..." id="createPlayer" value="createPlayer" >Create Player
                              </label>
                              <label class="list-group-item">
                                <input type="checkbox" aria-label="..." id="editPlayer" value="editPlayer" >Edit Player
                              </label>
                              <label class="list-group-item">
                                <input type="checkbox" aria-label="..." id="deletePlayer" value="deletePlayer" >Delete Player
                              </label>
                              </form>
                            </div>
                      <div class="form-group col-lg-3">


                            <form>
                              <label class="list-group-item">
                                <input type="checkbox" aria-label="..." id="createVideoImg" value="createVideoImg" >Create Video/Image
                              </label>
                              <label class="list-group-item">
                                <input type="checkbox" aria-label="..." id="editVideoImg" value="editVideoImg" >Edit Video/Image
                              </label>
                              <label class="list-group-item">
                                <input type="checkbox" aria-label="..." id="deleteVideoImg" value="deleteVideoImg" >Delete Video/Image
                              </label>
                              </form>
                            </div>

                    <div class="form-group col-lg-3">


                          <form>
                            <label class="list-group-item">
                              <input type="checkbox" aria-label="..." id="createContent" value="createContent" >Create Content
                            </label>
                            <label class="list-group-item">
                              <input type="checkbox" aria-label="..." id="editContent" value="editContent" >Edit Content
                            </label>
                            <label class="list-group-item">
                              <input type="checkbox" aria-label="..." id="deleteContent" value="deleteContent" >Delete Content
                            </label>
                            </form>
                          </div>

                  <div class="form-group col-lg-3">


                        <form>
                          <label class="list-group-item">
                            <input type="checkbox" aria-label="..." id="createContentGrp" value="createContentGrp" >Create Content-Group
                          </label>
                          <label class="list-group-item">
                            <input type="checkbox" aria-label="..." id="editContentGrp" value="editContentGrp" >Edit Content-Group
                          </label>
                          <label class="list-group-item">
                            <input type="checkbox" aria-label="..." id="deleteContentGrp" value="deleteContentGrp" >Delete Content-Group
                          </label>
                          </form>
                        </div>

                <div class="form-group col-lg-3">


                      <form>
                        <label class="list-group-item">
                          <input type="checkbox" aria-label="..." id="createPlaylist" value="createPlaylist" >Create Playlist
                        </label>
                        <label class="list-group-item">
                          <input type="checkbox" aria-label="..." id="editPlaylist" value="editPlaylist" >Edit Playlist
                        </label>
                        <label class="list-group-item">
                          <input type="checkbox" aria-label="..." id="deletePlaylist" value="deletePlaylist" >Delete Playlist
                        </label>

                        </form>
                      </div>
                      <div class="form-group col-lg-3">

                        <label>User can see:</label>
                            <form>
                              <label class="list-group-item">
                              <input type="radio" name="optradio3" id="seeMedia" value="admin">All
                              <input type="radio" name="optradio3" id="seeMedia" value="admin">Only Own Media
                            </label>
                            </form>
                            <form>
                              <label class="list-group-item">
                              <input type="radio" name="optradio4" id="seeContent" value="admin">All
                              <input type="radio" name="optradio4" id="seeContent" value="admin">Only Own Content
                              </label>
                            </form>
                            <form>
                              <label class="list-group-item">
                              <input type="radio" name="optradio5" id="seeContentGroup" value="admin">All
                              <input type="radio" name="optradio5" id="seeContentGroup" value="admin">Only Own Content-group
                              </label>
                            </form>
                      </div>

              <div class="form-group col-lg-3">

                  <label>Menus display:</label>

                    <form>
                      <label class="list-group-item">
                        <input type="checkbox" aria-label="..." id="adminMenu" value="adminMenu" >Admin Menu
                      </label>
                      <label class="list-group-item">
                        <input type="checkbox" aria-label="..." id="netzMenu" value="netzMenu" >Network Menu
                      </label>
                      <label class="list-group-item">
                        <input type="checkbox" aria-label="..." id="userMenu" value="userMenu" >User menu
                      </label>
                      <label class="list-group-item">
                        <input type="checkbox" aria-label="..." id="roleMenu" value="roleMenu" >Role Menu
                      </label>
                      <label class="list-group-item">
                        <input type="checkbox" aria-label="..." id="contentMenu" value="contentMenu" >Content Menu
                      </label>
                      <label class="list-group-item">
                        <input type="checkbox" aria-label="..." id="statisticMenu" value="statisticMenu" >Statistic Menu
                      </label>
                          </form>
                    </div>



                         </div>



                    <div class="panel-footer">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        <!-- </div> -->
    </div>

</template>
