<template name="adminRole">

  <ul class="nav nav-tabs">

        <button type="button" class="btn-u btn-u-default sButton" style="float:right;" id="saveNewRole">Save</button>
        <button type="button" class="btn-u btn-u-default cButton" style="float:right;" id="closeCreateRole">Close</button>
      </ul><br>

  <div class="panel-body sky-form" style="padding:0px;">

          <form class="sky-form register-form">

            <fieldset>
              <div class="row" style="border:none">
                <div class="form-group col-lg-4">
                <label class="label">Net Name</label>
                <label class="input"><input type="text"  class="form-control" value="{{currentNetworkName}}" DISABLED></label></div>
                <div class="form-group col-lg-4">
                <label class="label">Net Id</label>
                <label class="input"><input type="text"  class="form-control" value="{{currentNetworkId}}" DISABLED></label></div>
                <div class="form-group col-lg-4">
                <label class="label">Role Name</label>
                <label class="input"><input type="text"  class="form-control" id="roleName" value="" placeholder="admin,user etc."></label></div>
              </div>
            </fieldset>
            <fieldset>
              <div class="row" style="border:none">
                <label class="label">permissions</label>

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Player</th>
                      <th>Video/Img</th>
                      <th>Content</th>
                      <th>Content Grp</th>
                      <th>Playlist</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Create</td>
                      <td> <input type='checkbox' id="createPlayer"/>
    <label for='createPlayer' id="checkboxLabel">   
    </label></td>
                      <td><input type='checkbox' id="createVideoImg"/>
    <label for='createVideoImg'>
    </label></td>
                      <td><input type='checkbox' id="createContent" />
    <label for='createContent'>
       
    </label></td>
                      <td><input type='checkbox' id="createContentGrp" />
    <label for='createContentGrp'>
        
    </label></td>
                      <td><input type='checkbox' id="createPlaylist" />
    <label for='createPlaylist'>
       
    </label></td>
                    </tr>
                    <tr>
                      <td>Edit</td>
                      <td><input type='checkbox' id="editPlayer" />
    <label for='editPlayer'>
        
    </label></td>
                      <td><input type='checkbox' id="editVideoImg" />
    <label for='editVideoImg'>
        
    </label></td>
                      <td><input type='checkbox' id="editContent" />
    <label for='editContent'>
       
    </label></td>
                      <td><input type='checkbox' id="grantContentGrpAccess" />
    <label for='grantContentGrpAccess'>
        
    </label></td>
                      <td><input type='checkbox' id="editPlaylist" />
    <label for='editPlaylist'>
       
    </label></td>

                    </tr>
                    <tr>
                      <td>Delete</td>
                      <td><input type='checkbox' id="deletePlayer" />
    <label for='deletePlayer'>
        
    </label></td>
                      <td><input type='checkbox' id="deleteVideoImg" />
    <label for='deleteVideoImg'>
        
    </label></td>
                      <td><input type='checkbox' id="deleteContent" />
    <label for='deleteContent'>
       
    </label></td>
                      <td><input type='checkbox' id="deleteContentGrp" />
    <label for='deleteContentGrp'>
       
    </label></td>
                      <td><input type='checkbox' id="deletePlaylist" />
    <label for='deletePlaylist'>
       
    </label></td>

                    </tr>
                  </tbody>
                </table>
                <table class="table table-striped">
                  <thead>
                    <tr>

                      <th>Admin Menu</th>
                      <th>Network Menu</th>
                      <th>User Menu</th>
                      <th>Role Menu</th>
                      <th>Conten Menu</th>
                      <th>Statistics menu</th>
                      <th>Home Menu</th>
                      <th>Media</th>
                      <th>Content</th>
                      <th>Players</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>

                      <td><input type='checkbox' id="adminMenu" />
    <label for='adminMenu'>
       
    </label></td>
                      <td><input type='checkbox' id="netzMenu" />
    <label for='netzMenu'>
        
    </label></td>
                      <td><input type='checkbox' id="userMenu" />
    <label for='userMenu'>
       
    </label></td>
                      <td><input type='checkbox' id="roleMenu"/>
    <label for='roleMenu'>
       
    </label></td>
                      <td><input type='checkbox' id="contentMenu" />
    <label for='contentMenu'>
        
    </label></td>
                      <td><input type='checkbox' id="statisticMenu" />
    <label for='statisticMenu'>
       
    </label></td>
                      <td><input type='checkbox' id="homeEditMenu" />
    <label for='homeEditMenu'>
       
    </label></td>
                      <td><input type='checkbox' id="seeMedia" />
    <label for='seeMedia'>
        
    </label></td>
                      <td><input type='checkbox' id="seeContent" />
    <label for='seeContent'>
       
    </label></td>
                      <td><input type='checkbox' id="seeAllPlayers" />
    <label for='seeAllPlayers'>
        
    </label></td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </fieldset>





            </form>

    </div> <br><button type="button" class="btn-u btn-u-default sButton" style="float:right;" id="saveNewRole">Save</button>
      <button type="button" class="btn-u btn-u-default cButton" style="float:right;" id="closeCreateRole">Close</button>
<br><br><br><br>

</template>
