<template name ="rolesList">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <h3>List of roles</h3>
        </div>
        {{#each roles}}
        <div class="panel-body">
          <table class="table table-striped">

            <tbody>
              <div>
              <tr>
                <td>Role Name :<strong>{{roleName}}</strong><hr>
                </td>
              </tr>
              </div>
                <div>
                  <tr class="col-sm-12">
                <td class="col-sm-2">{{#if createPlayer}}
                    Create Player :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Create Player :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if editPlayer}}
                    Edit Player :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Edit Player :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if deletePlayer}}
                    Delete Player :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Delete Player :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if createVideoImg}}
                    Create Video/Img :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Create Video/Img :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if editVideoImg}}
                    Edit Video/Img :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Edit Video/Img :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>

              </tr>
              </div>
              <div>
              <tr class="col-sm-12">
                <td class="col-sm-2">{{#if deleteVideoImg}}
                    Delete Video/Img :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Delete Video/Img :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if createContent}}
                    Create Content :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Create Player :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if editContent}}
                    Edit Content :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Edit Content :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if deleteContent}}
                    Delete Content :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Delete Content :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if createContentGrp}}
                    Create Content Group :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Create Content Group :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
              </tr>
              </div>

              <div>
                <tr class="col-sm-12">

                <td class="col-sm-2">{{#if editContentGrp}}
                    Edit Content Group :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Edit Content Group :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if deleteContentGrp}}
                    Delete Content Group :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Delete Content Group :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if createPlaylist}}
                    Create Playlist :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Create Playlist :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if editPlaylist}}
                    Edit Playlist :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Edit Playlist :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if deletePlaylist}}
                    Delete Playlist :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Delete Playlist :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>

              </tr>
              </div>
                <div>
                  <tr class="col-sm-12">
                <td class="col-sm-2">{{#if adminMenu}}
                    Admin menu Visible :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Admin menu Visible :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if netzMenu}}
                    Network menu Visible :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Network menu Visible :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if userMenu}}
                    User menu Visible :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    User menu Visible :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if roleMenu}}
                    Role menu Visible :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Role menu Visible :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>
                <td class="col-sm-2">{{#if contentMenu}}
                    Content menu Visible :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    {{else}}
                    Content menu Visible :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                    {{/if}}
                </td>

              </tr>
              <tr class="col-sm-12">
              <td class="col-sm-2">{{#if statisticMenu}}
                  Statistics menu Visible :<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                  {{else}}
                  Statistics menu Visible :<span class="glyphicon glyphicon-minus " style="color:red;"></span>
                  {{/if}}
              </td>
              <td class="col-sm-2">{{#if seeMedia}}
                  Media Visible :<span style="color:green;">All</span>
                  {{else}}
                    Media Visible :<span style="color:red;">Own</span>
                  {{/if}}
              </td>
              <td class="col-sm-2">{{#if seeContent}}
                  Content Visible :<span  style="color:green;">All</span>
                  {{else}}
                  Content Visible :<span  style="color:red;">Own</span>
                  {{/if}}
              </td>
              <td class="col-sm-2">{{#if seeContentGroup}}
                  Content group Visible :<span style="color:green;">All</span>
                  {{else}}
                  Content group Visible :<span style="color:red;">Own</span>
                  {{/if}}
              </td>
              <td class="col-sm-2">
              </td>
            </tr>
              </div>



            </tbody>
          </table>
        </div>
          {{/each}}
      </div>
    </div>
  </div>
</template>
