<template name ="rolesList">
  {{#if isRoleEdit}}
    {{>roleEdit}}
  {{/if}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <h3>List of roles</h3>
          <button type="button" class="btn btn-default" style="float:right;" id="btnRole">Create New role</button>
        </div>
        {{#each roles}}
        <div class="panel-body">
          <table class="table table-striped">

            <tbody>
              <div>
              <tr class="col-sm-6">


                Role Name :<strong>{{roleName}}</strong>



              </tr>
              <tr class="col-sm-6">

                <button type="button" class="btn btn-default" id="editRList">Edit</button>
                  <button type="button" class="btn btn-default" id="deleteRlist">Delete</button>
              </tr>
              </div>

            </tbody>
          </table>
        </div>
          {{/each}}
      </div>
    </div>
  </div>
</template>
