<template name="playlistForm">
    <ul class="nav nav-tabs">
      <button type="button" class="btn-u btn-u-default  button-save sButton" id="btn-save-playlist" style="float:right;">Save</button>
      <button type="button" class="btn-u btn-u-default cButton" style="float:right;" id="button-close-playlist-form">Close</button>
    </ul><br>
      <div class="panel-body sky-form" style="padding:0px;">
        <form class="sky-form playlist-form" role="form" id="playlist-form">
          <fieldset>
            <div class="row">
              <section class="col col-4">
                <label class="label">Name</label>
                <label class="input">
                  <input type="text" name="nameOfPlaylist" id="name"
                  placeholder="Enter name" value="{{this.name}}">
                </label>
              </section>
              <section class="col col-3">
                <label class="label">Duration in total</label>
                <label class="input">
                  15 min(s)
                </label>
              </section>
              <section class="col col-3">
                <label class="label">Duration of private</label>
                <label class="input">
                  30 min(s)
                </label>
              </section>
            </div>
            <div class="row">
              <section class="col col-11">
                <label class="label">Ticker text</label>
                <label class="input">
                  <input type="text" name="tickerText" id="tickerText"
                  placeholder="Enter Ticker text" value="{{this.tickerText}}">
                </label>
              </section>
            </div>
          </fieldset>
          <fieldset>
            <button type="submit" class="btn-u btn-u-default cButton" id="btn-show-linkedContentGroups" style="margin-bottom:15px;">Manage content-groups</button>
            <div id="contentGroup-collection-fieldset">
              {{#if isShowCGs}}
                {{#with allContentGroups}}
                <button type="button" class="btn-u btn-u-default cButton" style="float:right; margin-top:10px;" id="button-close-contentGroup-collection">Close list</button>
                  {{> contentGroupsList}}
                  <button type="button" class="btn-u btn-u-default cButton" style="float:right; margin-top:3px;" id="button-close-contentGroup-collection">Close list</button>
                {{/with}}
              {{/if}}
            </div>
          </fieldset>
          <fieldset>
            <div id="contentGroup-collection-included-fieldset">
              {{#with includedContentGroups}}
                {{> contentGroupsList}}
              {{/with}}
            </div>
          </fieldset>
          <fieldset>
            <div id="content-collection-included-fieldset">
              {{#with includedContents}}
                {{> contentsList}}
              {{/with}}
            </div>
          </fieldset>
          <fieldset>
            <button type="button" class="btn-u btn-u-default  button-save sButton" id="btn-save-playlist" style="float:right;">Save</button>
            <button type="button" class="btn-u btn-u-default cButton" style="float:right;" id="button-close-playlist-form">Close</button>
          </fieldset>
        </form>
    </div>
</template>
