<template name="playlistsList">
<ul class="nav nav-tabs">
  {{#unless isCreateNew}}
  <button type="button" class="btn-u btn-u-default button-new sButton" style="float:right;">New playlist</button>
  {{/unless}}
        <input type="text"
          placeholder="Type text to filter by name" id="playlist-filter-input">
      </ul>
    <br>
      <div class="panel-body sky-form">
        <table class="table table-striped table-list" id="contentTable">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Content-groups</th>
              <th>Controls</th>
            </tr>
          </thead>
          <tbody>
            {{#each filteredPlaylists}}
            {{> playlist}}
            {{/each}}
          </tbody>
        </table>
      </div>
  {{>deleteConfirmation message=playlistToDelete}}
  </template>
