<template name ="playlist">
  <tr>
  <td><input type="checkbox"></td>
    <td>{{name}}</td>
    <td>{{contentGroupNames}}</td>
    <td>
      <div class="row-controls">
        {{#if mayEdit}}
         <!--  <i type="button" class="glyphicon glyphicon-pencil" id="button-edit-playlist"></i> -->
         <i type="button" class="editIcon" id="button-edit-playlist" style="float: right;margin-top: -15px;margin-left: 7px;">
                  <span style="font-size: 25px;font-style: normal;">&#9998;</span>
                </i>
          <!--  <i type="button" class="editIcon" id="button-edit-playlist" style="float: right;">
                  <img src="edit.png" alt="Mountain View" style="width:20px;height:20px;">
                </i> -->
        {{/if}}
        <!-- <i type="button" class="glyphicon glyphicon-trash" id="button-delete-playlist"
          data-toggle="modal" data-target="#deleteConfirmation"></i> -->
          <i type="button" class="deleteIcon" style="float: right;margin-top: -15px;margin-left: 7px;" data-toggle="modal" data-target="#deleteConfirmation" id="button-delete-playlist">
                    <span style="font-size: 25px;font-style: normal;">&#128465;</span></i>
          <!-- <i type="button" class="deleteIcon" style="float: right;" data-toggle="modal" data-target="#deleteConfirmation" id="button-delete-playlist">
                    <img src="trash.png" alt="Mountain View" style="width:20px;height:20px;">
                  </i> -->
      </div>
    </td>
  </tr>
</template>
