<template name="contentForm"><br>

  <div class="breadcrumbs secondHead">
    <div class="container secondHead1">
      <h3 class="pull-left">New Content</h3>
    </div></div><br><br>


    <div class="container content">
  <div class="tab-v1 content-form">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#content-main" data-toggle="tab" area-expanded="true">Content</a>
      </li>
      <li>
        <a href="#content-details" data-toggle="tab" area-expanded="false">Details</a>
      </li>
        <button type="submit" class="btn-u btn-u-default button-save sButton" id="btn-save-content" style="float:right; ">Save</button>
        <button type="button" class="btn-u btn-u-default cButton" id="button-close-content-form" style="float:right;">Close</button>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade active in" id="content-main"><br>
        <form class="sky-form" action="#" id="sky-form">
          <fieldset>
              <section class="col col-6">
                <label class="label">Name</label>
                <label class="input">
                  <input type="text" name="nameOfContent" id="nameOfContent"
                  placeholder="Enter name of content" value="{{this.name}}">
                </label>
              </section>
              <section class="col col-6">
                <label class="label">Duration</label>
                <label class="input">
                  <input type="text" name="durationOfContent" id="durationOfContent"
                  placeholder="Enter duration of content" value="{{this.duration}}">
                </label>
              </section>
          </fieldset>
          <fieldset>
            <div class="btn-group">
							<button type="button" class="btn-u btn-u-blue dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								{{getType}}
								<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#" id="select-media">Media</a></li>
								<li><a href="#" id="select-template">Template</a></li>
							</ul>
						</div>
            {{#if isTypeMedia}}
            <button type="submit" class="btn-u btn-u-default" id="btn-select-media" style="margin-left: 12px; margin-bottom: 10px;">Select</button>
            <button type="submit" class="btn-u btn-u-default" id="btn-new-media" style="margin-left: 12px; margin-bottom: 10px;">Create</button>
            <div id="media-collection-fieldset">
              {{#if isSelectMedia}}
                {{#with getOptions}}
                  {{> medienList }}
                {{/with}}
              {{/if}}
            </div>
            {{#if selectedMedia}}
              <table class="table table-striped table-list">
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Created date</th>
                  </tr>
                </thead>
                <tbody>
                  {{#unless isNewMedia}}
                    {{#with selectedMedia}}
                      {{> media}}
                    {{/with}}
                  {{/unless}}
                </tbody>
              </table>
            {{/if}}
            {{#if isNewMedia}}
              {{#with clearContext}}
                {{> mediaForm}}
              {{/with}}
            {{/if}}
          {{else}}
            <br>
            <br>
            <label class="textarea textarea-resizable">
              <textarea id="templateText" rows="10" style="margin-top: 0px; margin-bottom: 0px; height: 81px;">{{template}}</textarea>
            </label>
          {{/if}}
          </fieldset>
          <fieldset>
            <label class="label">Info</label>
            <section>
              <div class="col col-3">
                <span style="position: relative; top:-25px;">Mix in Ticker</span><input id="mixInTicker" type="checkbox" {{getMixInTicker}} >
              <label for="mixInTicker"></label>
                <!-- <label class="toggle"><input type="checkbox" {{getMixInTicker}} id="mixInTicker"><i class="no-rounded"></i>Mix in Ticker</label> -->
            </div>  <div class="col col-3">
              <span style="position: relative; top:-25px;">Collect statistics</span><input id="collectStatisticts" type="checkbox" {{getCollectStatisticts}} >
            <label for="collectStatisticts"></label>
                <!-- <label class="toggle"><input type="checkbox" {{getCollectStatisticts}} id="collectStatisticts"><i class="no-rounded"></i>Collect statistics</label> -->
            </div>  <div class="col col-3">
              <span style="position: relative; top:-25px;">Visible for all</span><input id="visibleForAll" type="checkbox" {{getVisibleForAll}} >
            <label for="visibleForAll"></label>
                <!-- <label class="toggle"><input type="checkbox" {{getVisibleForAll}} id="visibleForAll"><i class="no-rounded"></i>Visible for all</label> -->
                </div>
                <br>
                <br>
              </section>
              <section>
                <label class="label">Category</label>
                <label class="input" >
                  <input class="col col-6" type="text" name="categoryOfContent" id="categoryOfContent"
                  placeholder="Enter category of content" value="{{this.category}}">
                </label>
            </section>
            <div class="row">
								<section class="col col-5">
									<label class="label">Type of cunjunction</label>
                  <span style="position: relative; top:-25px;">AND (both required)</span>
									<input type="radio" name="radio-toggle" {{isConjAnd}} id="typeOfConjunction">
                  <label for="typeOfConjunction"></label>
                  <span style="position: relative; top:-25px;">OR (any required)</span>
									<input type="radio" name="radio-toggle" {{isConjOr}} id="rad2">
                  <label for="rad2"></label>



								</section>
							</div>
          </fieldset>
        </form>
      </div>
      <div class="tab-pane fade" id="content-details"><br>
        <form class="sky-form" action="#" id="sky-form">
          <fieldset>
            <label class="label"><h4>Schedule</h4></label>
            <!-- <div class="row"> -->
              <section class="col col-6">
                <label class="label">Start date</label>
                <label class="input">

                  <input  type="text" name="start" id="start" value="{{startDate}}" placeholder="Start date">
                </label>
              </section>
              <section class="col col-6">
                <label class="label">Finish date</label>
								<label class="input">

									<input type="text" name="finish" id="finish" value="{{finishDate}}" placeholder="Finish date">
								</label>
                <!-- <input type="text" name="" value="" id="date"> -->
                <script>

  $( function() {
    $( "#finish" ).datepicker({ changeMonth: true,
      changeYear: true,showWeek: true,
      firstDay: 1, dateFormat:"dd.mm.yy", showAnim:"slideDown"});


    $( "#start" ).datepicker({ changeMonth: true,
      changeYear: true,showWeek: true,
      firstDay: 1, dateFormat:"dd.mm.yy", showAnim:"slideDown"});
     } );

  </script>
							</section>

              <section>
                <label class="label" style="margin-left: 15px;">Days of week</label>
                <span style="margin-left: 15px;">
                  <div class="col col-3"><label class="toggle"><input type="checkbox" {{getMonday}} id="monday"><i class="no-rounded"></i>Monday</label>
                  </div>  <div class="col col-3"><label class="toggle"><input type="checkbox" {{getTuesday}} id="tuesday"><i class="no-rounded"></i>Tuesday</label>
                  </div>  <div class="col col-3"><label class="toggle"><input type="checkbox" {{getWednesday}} id="wednesday"><i class="no-rounded"></i>Wednesday</label>
                  </div>  <div class="col col-3"><label class="toggle"><input type="checkbox" {{getThursday}} id="thursday"><i class="no-rounded"></i>Thursday</label>
                  </div>  <div class="col col-3"><label class="toggle"><input type="checkbox" {{getFriday}} id="friday"><i class="no-rounded"></i>Friday</label>
                  </div>  <div class="col col-3"><label class="toggle"><input type="checkbox" {{getSaturday}} id="saturday"><i class="no-rounded"></i>Saturday</label>
                  </div>  <div class="col col-3"><label class="toggle"><input type="checkbox" {{getSunday}} id="sunday"><i class="no-rounded"></i>Sunday</label>
                  </div>  <div class="col col-3">
                  </div></span>
              </section><br>
            <!-- </div> -->
            <!-- <div class="row"> -->
              <section><br><br>



                <label class="label" style="margin-left: 15px;">Play time hours</label>
                <label class="input" style="margin-left: 15px;">
                    <form>
                      <div class="col col-2">
                        <input type="text" class="form-control" id="playTimeHoursStart" placeholder="From" value="{{this.playTimeHoursStart}}">
                        <input type="text" class="form-control" id="playTimeHoursFinish" placeholder="To" value="{{this.playTimeHoursFinish}}">
                      </div>
                    </form>
                </label>
                <br><div class="col col-5">
                <label class="toggle" style="margin-left: 15px;"><input type="checkbox" {{getDeleteAfterFinish}} id="deleteAfterFinish"><i class="no-rounded"></i>Delete after finish date</label>
              </div></section>

            <!-- </div> -->
          </fieldset>
          <fieldset>
          <section class="col col-6">



            <label class="label"><h4>Assortiment</h4></label>
            <span style="margin-left: 10px;">
              {{#each listOfAssortiment}}
                <label class="toggle"><input type="checkbox" {{getTypePresence}} value="{{this}}" class="content-assortiment"><i class="no-rounded"></i>{{this}}</label>
              {{/each}}
            </span>
            <br>

          </section>
          <section class="col col-6">

            <label class="label"><h4>Region</h4></label>
            <span style="margin-left: 10px;">
              {{#each regions}}
                <label class="toggle"><input type="checkbox" {{getRegionPresence}} value="{{this}}" class="content-regions"><i class="no-rounded"></i>{{this}}</label>
              {{/each}}
            </span>

          </section>
            </fieldset>
        </form>
    </div>
    </div>
  </div>
  <br><button type="submit" class="btn-u btn-u-default button-save sButton" id="btn-save-content" style="float:right;">Save</button>
  <button type="button" class="btn-u btn-u-default cButton" id="button-close-content-form" style="float:right;">Close</button>
</div>  <br><br><br><br>

</template>
