<template name ="content">


  <script type="text/javascript">
  $('tbody').sortable({
    update: function(event,ui){
      console.log('done');
    }

  });


  </script>


  <tr class="content-row">
  <td><input type="checkbox"></td>
      <td>
        <div class="thumbnails thumbnail-style">
          <img src="{{file.link}}" alt="{{file.name}}"  width="71" height="40"/>
        </div>
      </td>
      <td>{{name}}</td>
      <td>{{duration}}</td>
      <td>{{type}}</td>
      <td>{{prettifyDate createdAt}}</td>
      <td>
        {{#each regions}}
          {{this}}
        {{/each}}
      </td>

      <td>{{assortiment}}</td>
      <td>
        <input type="text" class="sortRow" value="{{_id}}" HIDDEN>
        <div class="media-row-controls">
          <!-- {{#if mayEdit}} -->
          <i type="button" class="glyphicon glyphicon-play-circle" id="button-play-content"></i>
          {{#if enableButtonEdit}}
            <i type="button" class="glyphicon glyphicon-pencil" id="button-edit-content"></i>
          {{/if}}
          {{#if enableButtonDelete}}
          <i type="button" class="glyphicon glyphicon-trash" id="button-delete-content"></i>
          {{/if}}
          {{#if enableButtonRemove}}
            <i type="button" class="glyphicon glyphicon-remove" id="button-remove-content"></i>
          {{/if}}
        </div>
      </td>
    </tr>




  <!-- {{#if isEditMode}}
      <tr>
        <td colspan="6">
          {{#with this}}
          {{> contentForm}}
          {{/with}}
        </td>
      </tr>

  {{else}}
    <tr>
      <td><input type="checkbox"></td>
      <td>thumbnail</td>
      <td>{{name}}</td>
      <td>{{duration}}</td>
      <td>{{type}}</td>
      <td>{{createdAt}}</td>
      <td>
        {{#each regions}}
          {{this}}
        {{/each}}
      </td>

      <td>{{assortiment}}</td>
      <td>play button</td>
      <td>
        <div class="media-row-controls">
          {{#if mayEdit}}
            <i type="button" class="glyphicon glyphicon-pencil" id="button-edit-content"></i>
          {{/if}}
          <i type="button" class="glyphicon glyphicon-trash" id="button-delete-content"></i>
        </div>
      </td>
    </tr>
  {{/if}} -->
</template>
