<template name ="contentItem">
  <article class="content-item">
    {{#if isEditMode}}
      {{#with this}}
        {{> contentForm}}
      {{/with}}
    {{else}}
      <strong>Name: </strong>{{name}} <strong>Type: </strong>{{type}} <strong>URL: </strong>{{URL}} <strong>Duration: </strong>{{duration}}
      <i type="button" class="glyphicon glyphicon-trash" id="button-delete-content"></i>
      <i type="button" class="glyphicon glyphicon-pencil" id="button-edit-content"></i>
    {{/if}}
  </article>
</template>
