<template name="contentForm">

  <div class="tab-v1">
    <ul class="nav nav-tabs">
      <li>
        <a href="#tab-1" data-toggle="tab" area-expanded="true">Tab 1</a>
      </li>
      <li>
        <a href="#tab-2" data-toggle="tab" area-expanded="false">Tab 2</a>
      </li>
      <li>
        <a href="#tab-3" data-toggle="tab" area-expanded="false">Tab 3</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade" id="tab-1">
        <h1>Tab 1 is opened.</h1>
      </div>
      <div class="tab-pane fade" id="tab-2">
        <h1>Tab 2 is opened.</h1>
      </div>
      <div class="tab-pane fade" id="tab-3">
        <h1>Tab 3 is opened.</h1>
      </div>
    </div>
  </div>

</template>
